</td>
		</tr>
	</table>

</div>

<script language="JavaScript1.2">
<!--
var bookmarkurl=window.location.href.substr(0, window.location.href.indexOf('/', 8) + 1) + '';
if (document.title) { var bookmarktitle=document.title; }
else { var bookmarktitle="";}
var bookmarktext="Bookmark Us"
if (navigator.appName == "Netscape") {
 bookmarktext="Bookmark Us (CTRL+D)";
}
else if (navigator.appName == "Opera") {
bookmarktext="Bookmark Us (CTRL+T)";
}
function addbookmark()
{
 if (window.sidebar) {
 window.sidebar.addPanel(bookmarktitle, bookmarkurl, "");
}
 else if (window.external) {
window.external.AddFavorite(bookmarkurl, bookmarktitle);
}
}
//-->
</script>

<!-- Bottom Footer -->
<div id="footer">
	<div id="footer_top">
		<ul>
			<li><a href="/aboutus.asp">About Us</a> </li>
			<li><a href="/affiliate_signup.asp">Become an Affiliate</a> </li>
			<li><a href="/terms_privacy.asp">Privacy Policy</a> </li>
			<li><a href="mailto:clo-webadmin@cornell.edu?subject=Customer Feedback for Cornell Lab of Ornithology">Contact Us </a></li>
			<li class="last"><a href="javascript:addbookmark()">Bookmark Us</a></li>
		</ul>
		<ul>
			<li><a href="http://store.birds.cornell.edu//aboutus.asp"  > Company Info</a></li>
			<li><a href="http://store.birds.cornell.edu//articles.asp?ID=7"  > Advertising</a></li>
			<li><a href="http://store.birds.cornell.edu//pindex.asp"  > Product Index</a></li>
			<li><a href="http://store.birds.cornell.edu//cindex.asp"  > Category Index</a></li>
			<li><a href="http://store.birds.cornell.edu//help.asp"  > Help</a></li>
			<li class="last"><a href="http://store.birds.cornell.edu//terms.asp"  > Terms of Use</a></li>
		</ul>
		<p><a href="http://store.birds.cornell.edu//terms.asp"  >Copyright &copy; 2007 Cornell Lab of Ornithology. All Rights Reserved.</a></p>
	</div>
	<div id="footer_bottom">
	<!--				
	===========================================================================================
		VOLUSION LINK - BEGIN
	===========================================================================================
		Customer has agreed per Volusion&#63;s Terms of Service (http://www.volusion.com/agreement_monthtomonth.asp)
		to maintain a text hyperlink to "http://www.volusion.com" in the footer of the website. The link must be standard html, contain no javascript, and be approved by Volusion. Removing this link breaches the Volusion agreement.
	-->
		<p>Shopping Cart Powered by <a href="http://www.volusion.com" title="Shopping Cart Software"   target="_blank">Volusion</a>.</p>

	<!--
	===========================================================================================
		VOLUSION LINK - END
	===========================================================================================
	-->
				
	</div>	    
                
</div>




<script type="text/javascript">function store_init(event){} AttachEvent(window, 'load', store_init);</script>

</body>
</html>