/* Controls all of your dynamic navigation menus  --- you can control the CSS here or go to Design Tab > Navigation Menus in your Volusion admin */

#display_menu_1 .nav {cursor:pointer; background-color:#FFFFFF;}
#display_menu_1 .nav a { FONT: bold 11px Arial; COLOR:#444; TEXT-DECORATION: none; }
#display_menu_1 .nav_hover {cursor:pointer; background-color:#888888;}
#display_menu_1 .nav_hover a {color:#ffffff; text-decoration:none; font:bold 11px arial; }

#display_menu_2 .nav {cursor:pointer; background-color:#FFFFFF;}
#display_menu_2 .nav a { FONT: bold 11px Arial; COLOR:#444; TEXT-DECORATION: none; }
#display_menu_2 .nav_hover {cursor:pointer; background-color:#888888;}
#display_menu_2 .nav_hover a {color:#ffffff; text-decoration:none; font:bold 11px arial; }

#display_menu_3 .nav {cursor:pointer; background-color:#FFFFFF;}
#display_menu_3 .nav a { FONT: bold 11px Arial; COLOR:#444; TEXT-DECORATION: none; }
#display_menu_3 .nav_hover {cursor:pointer; background-color:#888888;}
#display_menu_3 .nav_hover a {color:#ffffff; text-decoration:none; font:bold 11px arial; }

#display_menu_4 .nav a {color:#444;}
#display_menu_4 .nav_hover a {color:#ffffff;}
#display_menu_4 .nav {background-color:#FFFFFF;}
#display_menu_4 .nav_hover {background-color:#888888;}

#display_menu_5 .nav a {color:#444;}
#display_menu_5 .nav_hover a {color:#FFFFFF;}
#display_menu_5 .nav {background-color:#FFFFFF;}
#display_menu_5 .nav_hover {background-color:#888888;}

#display_menu_6 .nav a {color:#444;}
#display_menu_6 .nav_hover a {color:#FFFFFF;}
#display_menu_6 .nav {background-color:#FFFFFF;}
#display_menu_6 .nav_hover {background-color:#888888;}

#display_menu_7 .nav a {color:#444;}
#display_menu_7 .nav_hover a {color:#FFFFFF;}
#display_menu_7 .nav {background-color:#FFFFFF;}
#display_menu_7 .nav_hover {background-color:#888888;}

#display_menu_8 .nav a {color:#444;}
#display_menu_8 .nav_hover a {color:#FFFFFF;}
#display_menu_8 .nav {background-color:#FFFFFF;}
#display_menu_8 .nav_hover {background-color:#888888;}