/* Zen Template-- Last Updated 7/15/08 ----*/

body, html{	height: 100%; }

body{
	text-align:center;
	margin:0;
	padding:0;
	margin-top:0px;
	margin-bottom:35px;
	font-size:12px;
	background:transparent url(../images/template/body_bg.gif) repeat-x scroll left top;
	font-family: Arial, Tahoma, helvetica, sans-serif;
}

#body a{
	text-decoration:none;
}
body #header ul li.last{
	margin:0;
	padding:0;
	border:none;
}
#body a:hover{
	text-decoration:underline;
}

/* Header Tags ---------------------------- */

#header{
	width:800px;
	height:90px;
	padding:0;
	margin:0px auto;
	position:relative;
	border-bottom:1px solid #adadad;
	background:#fff url(../images/template/header_bg.gif) no-repeat left top;
}

/*  Logo or Company Name ------------------------------------------ */


#header h1{
	float:left;
	font-size:1.5em;
	height:47px;
	padding-left:14px;
	padding-top:17px;
	text-align:left;
	width:400px;
}


#display_homepage_title a{
	text-indent:-99999px;
	display:block;
	width:300px;
	height:40px;
	text-align:left;

}
#display_homepage_title #homepage_title{
	background:transparent none repeat scroll 0% 0%;
	display:block;
	font-size:30px;
	height:100%;
	text-align:left;
	text-indent:0pt;
	width:100%;
}

/* Main Site Navigation Links ---------------------------- */

#header_nav {
	text-align:left;
	font-family: Arial, Tahoma, helvetica, sans-serif;
	font-size:11px;
	padding:10px;
	float:right;
	margin-top:10px;
}

#header_nav ul{
	list-style:none;
	margin:0;
	padding:0;	
}
#header_nav ul li{
	display:inline;
	margin-right:1em;
	padding-right:1em;
	border-right:1px solid #adadad;
}
#header_nav ul li a{ 
	color:gray;
	font-weight:normal;
}

/* Shopping Cart Summary Tags ---------------------------- */

		#shopping_cart_summary{
			margin:0;
			padding:0;
			text-align:center;
			color:#666;
			font-weight:normal;
			font-size:12px;
			padding:5px;
		}

		#display_cart_summary .cartsummary_empty {
			display: none;
		}
		#display_cart_summary .cartsummary_full {
			background-color:#EEF8F9;
			border:1px solid #E2E6F0;
			clear:right;
			color:#5388B4;
			float:right;
			margin:0pt;
			padding:5pt;
			text-align:center;
		}

		#nav_menu #shopping_cart_summary h3{
			margin-bottom:.5em;
		}
		
		
/* Top Horizontal Dynamic Menu ---------------------------- */

#top_nav{
	padding:0;
	margin:0;
	width: 100%;
	font-size:11px;
	text-align:center;
	padding-top:5px;
	padding-bottom:5px;
	border-bottom:1px solid #adadad;
	
}

#top_nav ul{
	list-style:none;
	margin:0;
	padding:0;
}
#top_nav ul li{
	display:inline;
	margin-right:1em;
	padding-right:1em;
	border-right:1px solid #adadad;
}
#top_nav ul li a{ 
	color:gray;
	font-weight:normal;
}
#top_nav h1 a:hover{
	color:#666666;
}

#content{
	padding:0;
	margin:0px auto;
	text-align:left;
	width:800px;
}

#nav_menu div.nav_section{	
	margin:0;
	padding:0;
	width:160px;
	margin-bottom:1em;
	
}


/* Search Section ---------------------------- */

#search_section{
	padding:0;
	margin:0;
	text-align:left;
	height:70px;
}


#nav_menu #search_section h3{
	border-top:0px;
	border-top:0px;
	margin:0pt;
	padding:5px 0px 4px;
}

#search_section form{
	margin:0px;
	padding:7px 0px 0px 13px;
}


#search_section input#search_field{
	margin:0px;
	padding:0px;
	border:1px solid #adadad;
	width:110px;
	height:16px;
	font-size:10px;
	float:left;
	padding-top:2px;
}

#search_section input#search_button{
	margin:0px;
	padding:0px;
	width:20px;
	height:20px;
	float:left;
	margin-left:3px;
}

		
/* Navigation Sections ------------------------------------------------- */		

div.nav_section ul{
	margin:0;
	padding:0;
	list-style:none;
	text-align:left;
	margin-top:4px;
	margin-left:0px;
	
}
#nav_menu{
	margin:0;
	padding:0;
	width:160px;
	border:1px solid #adadad;
	border-bottom:none;
	border-top:none;
	height:100%;
}

#nav_menu h3{
	margin:0px;
	padding:0px;
	font-size:12px;
	border-bottom:1px solid #adadad;
	border-top:1px solid #adadad;
	color:#666666;
	padding:5px;
	text-align:center;
}


div.nav_section ul li{
	margin:0;
	padding:0;
	color:#606060;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	text-align:left;
	margin-bottom:.5em;
	padding-left:15px;
	background:url(../images/template/nav_bullet.gif) no-repeat 3px 3px;
}

div.nav_section ul li a{
	color:#606060;
	text-decoration:none;
	list-style:none;
	font-size:1.1em;
	font-weight:normal;
	
}
div.nav_section ul li a:hover{
	text-decoration:underline;
}

#navigation_menus{
	padding:0px;
	margin:0;
	width:160px;
	text-align:center;
}

#display_promotions_999{
	padding-bottom:10px;
}


/* Main Content  --------------------------------------------------------------------------- */
#content{background-color:#fff;}
#content #main_content{
	padding:0px;
	margin:0px;
	border-right:1px solid #ADADAD;
	width:637px;
}

/* Content Area is where the Volusion software generates  --------------- */

#content_area{
	margin:0pt;
	padding:10px;
	width:617px;
}

#content #content_area table{
	text-align:left;
}

/* Footer Tags ----------------------------------------------------------------------------- */


#footer{
	margin:0px auto;
	padding:0px;
	width:800px;
	position:relative;
	font-family: Arial, Tahoma, helvetica, sans-serif;
	
	color:#adadad;
	padding-bottom:1em;
}
#footer > *{
	margin:0;
	padding:0;
}
#footer ul li.last{
	border:none;
	padding:0;
	margin:0;
}
#footer a{
	color:#666666;
	font-family:Arial, Helvetica, sans-serif;
}
#footer ul{
	list-style:none;
	margin:0;
	padding:0;
}
#footer ul li{
	display:inline;
	border-right:1px solid #adadad;
	margin-right:1em;
	padding-right:1em;
}

#footer_top{
	margin-bottom:1.5em;
	padding:10px;
	border:1px solid #adadad;
	color:gray;
	background-color:#fff;
}
#footer_top a{
	color:gray;
}
#footer_top ul li{
	
	border-right:1px solid gray;
	
}
#footer_bottom{
	margin:0;
	padding:0;
	font-size:11px;
	color:#666666;
}

#footer_bottom a{
	font-size:11px;
}


#notext a { 
	display:block;
	width:250px;
	height:75px;
	text-indent:-9999px;
 }



