</td>
    </tr>
  </table>
</div>

<!-- #################### FOOTER #################### -->
<div id="footer_wrapper">
<div id="footer">

<!-- #################### FOOTER TOP --> 
	<div id="footer_top">
		<div class="left">
		  <ul>
		    <li class="title">Keep in Touch</li>
		    <li><a href="http://www.birds.cornell.edu/page.aspx?pid=1639">eNewsletter</a></li>
		    <li><a href="http://blog.birds.cornell.edu/">Blog</a></li>
		    <li><a href="http://twitter.com/lab_of_O">Twitter</a></li>
		    <li><a href="http://allaboutbirds.org/guide/rss.aspx?feed=0">RSS</a></li>
		  </ul>
		</div>
        <div class="right">
        	<a href="http://store.birds.cornell.edu/terms_privacy.asp">Privacy Policy</a>
            <a href="http://store.birds.cornell.edu/terms.asp">Terms of Use</a> &nbsp;|&nbsp; Copyright &copy; <script type="text/javascript">document.write((new Date()).getFullYear());</script> Cornell Lab of Ornithology
        </div>
        <div class="clear"></div>
	</div>


<!-- #################### FOOTER BOTTOM --> 	
    <div id="footer_bottom">
    	<a class="a1" href="#">Cornell University</a>
    	<ul>
    	  <li class="title">Our Organization</li>
    	  <li><a href="http://store.birds.cornell.edu/aboutus.asp">About Us</a></li>
    	  <li><a href="http://www.birds.cornell.edu/page.aspx?pid=1658">What We Do</a></li>
    	  <li><a href="http://www.birds.cornell.edu/page.aspx?pid=1601">Donate</a></li>
    	  <li><a href="http://www.AllAboutBirds.org">Visit AllAboutBirds.org</a></li>
    	</ul>
        
        <ul>
          <li class="title">Customer Service</li>
          <li><a href="http://store.birds.cornell.edu/help.asp">Help &amp; FAQ</a></li>
          <li><a href="http://store.birds.cornell.edu/returns.asp">Returns</a></li>
        </ul>
        
        <ul>
          <li class="title">Contact Us</li>
          <li>1-800-843-BIRD (1-800-843-2473)</li>
          <li>1-607-254-BIRD (1-607-254-2473)</li>
          <li><a href="mailto:cornellbirds@cornell.edu">cornellbirds@cornell.edu</a></li>
          <li>&nbsp;</li>
          <li>Cornell Lab of Ornithology</li>
          <li>Attn: Communications</li>
          <li>159 Sapsucker Woods Rd</li>
          <li>Ithaca, NY 14850</li>
        </ul>
        <!--<a class="a2" href="http://www.charitynavigator.org/index.cfm?bay=search.summary&orgid=3572">Charity Navigator - Four Star Charity</a>-->
        <div class="clear"></div>
<!-- ==========================================================================================
				VOLUSION LINK - BEGIN
===============================================================================================
Customer has agreed per Volusion&#146;s Terms of Service (http://www.volusion.com/agreement_monthtomonth.asp) to maintain a text hyperlink to "http://www.volusion.com" in the footer of the website. The link must be standard html, contain no javascript, and be approved by Volusion. Removing this link breaches the Volusion agreement.-->   

	<p>Ecommerce Software by Volusion</p>
<!-- ==========================================================================================
				VOLUSION LINK - END
=========================================================================================== -->
<script type="text/javascript"> 
var newscheck; 
newscheck=document.getElementsByName('emailsubscriber'); 
if(newscheck.length==1) { newscheck[0].checked=false; } 
console.log("checked is " + newscheck[0].checked);
</script>

	</div>
</div>
</div>

</div>



<script type="text/javascript">function store_init(event){} AttachEvent(window, 'load', store_init);</script>

</body>
</html>