<!-- #################### HOMEPAGE(ARTICLE2) -->
<style type="text/css">
#content_area br {display: none;} 

#content_area{
	padding:0;
	width:906px;
}
</style>
        
        <div id="homepage">
          <a class="a1" href="#">With over 700 species represented in full life history accounts, thousands of photos, and a growing library of sounds and videos, it's a great bargain at as little as $5 a month!</a>
          <a class="a2" href="#">Why buy from Cornell Lab e-store?</a>
          <div class="clear"></div>
          <div class="featured">Featured Products</div>
        </div>