<STYLE type="text/css">
BODY {
	FONT: 12px Courier New;
	COLOR: #000;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
TABLE {
	FONT: 12px Courier New; COLOR: #000;
}
TD {
	FONT: 12px Courier New; COLOR: #000;
}
A {
	COLOR: #0033BB; TEXT-DECORATION: none;
}
A:hover {
	COLOR: #0033BB; TEXT-DECORATION: underline;
}
.HeadingStyle {
	FONT: 15px Verdana; FONT-WEIGHT: bold; COLOR: #FFFFFF; BACKGROUND-COLOR: 000000;
}
{}
.style1 {color: #009900}
</STYLE>

<table border="0" cellpadding="1" cellspacing="1" bgcolor="#CCCCCC">
  <tr valign="top" bgcolor="DDDDDD"> 
    <td><font face="Arial, Helvetica, sans-serif"><strong>Folder<br>
      <img src="images/clear1x1.gif" width="100" height="1"> </strong></font></td>
    <td><font face="Arial, Helvetica, sans-serif"><strong>Image Name<br>
      <img src="images/clear1x1.gif" width="215" height="1"> </strong></font></td>
    <td><font face="Arial, Helvetica, sans-serif"><strong>Optional<br>
    <img src="images/clear1x1.gif" width="50" height="1"> </strong></font></td>
    <td><font face="Arial, Helvetica, sans-serif"><strong>Appears On<br>
      <img src="images/clear1x1.gif" width="150" height="1"> </strong></font></td>
    <td><font face="Arial, Helvetica, sans-serif"><strong>Current Graphic<br>
    <img src="images/clear1x1.gif" width="150" height="1"></strong></font></td>
  </tr>
  <tr> 
    <td colspan="5" class="HeadingStyle">TEMPLATE</td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Template</td>
    <td>header_bg.gif</td>
    <td>&nbsp;</td>
    <td>/</td>
    <td bgcolor="#FFFFFF"><img src="images/Template/header_bg.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Template</td>
    <td>header_bg_notext.gif</td>
    <td>&nbsp;</td>
    <td>/</td>
    <td bgcolor="#FFFFFF"><img src="images/Template/header_bg_notext.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Template</td>
    <td>header_bg2.gif</td>
    <td>&nbsp;</td>
    <td>/</td>
    <td bgcolor="#FFFFFF"><img src="images/Template/header_bg.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Template</td>
    <td>header_bg2_notext.gif</td>
    <td>&nbsp;</td>
    <td>/</td>
    <td bgcolor="#FFFFFF"><img src="images/Template/header_bg_notext.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Template</td>
    <td>angle_bs_footer.gif</td>
    <td bgcolor="#FFFFFF"><span class="style1">X</span></td>
    <td>/</td>
    <td bgcolor="#FFFFFF"><img src="images/Template/angle_bs_footer.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Template</td>
    <td>nav_left_bg.gif</td>
    <td><span class="style1">X</span></td>
    <td>/</td>
    <td bgcolor="#FFFFFF"><img src="images/Template/nav_left_bg.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Buttons</td>
    <td>btn_go.gif</td>
    <td>&nbsp;</td>
    <td>/</td>
    <td bgcolor="#FFFFFF"><img src="images/Buttons/btn_go.gif" border="1"></td>
  </tr>
  <tr> 
    <td colspan="5" class="HeadingStyle">NAV MENU</td>
  </tr>
  <tr bgcolor="#FFFFFF">
    <td bgcolor="#DFEFFF">&nbsp;</td>
    <td bgcolor="#DFEFFF"><font color="0055BB">Menu1...</font></td>
    <td colspan="3">&nbsp;</td>
  </tr>
  <tr bgcolor="#FFFFFF">
    <td><img src="images/admin/folder.gif" align="absmiddle">Template</td>
    <td>menu1_bullet.gif</td>
    <td>&nbsp;</td>
    <td>/</td>
    <td bgcolor="#FFFFFF"><img src="images/Template/menu1_bullet.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF">
    <td><img src="images/admin/folder.gif" align="absmiddle">Template</td>
    <td>menu1.gif</td>
    <td><span class="style1">X</span></td>
    <td>/(background image)</td>
    <td bgcolor="#FFFFFF"><img src="images/Template/menu1.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF">
    <td><img src="images/admin/folder.gif" align="absmiddle">Template</td>
    <td>menu1_over.gif</td>
    <td><span class="style1">X</span></td>
    <td>/(background image)</td>
    <td bgcolor="#FFFFFF"><img src="images/Template/menu1_over.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Template</td>
    <td>menu1_divider.gif</td>
    <td><span class="style1">X</span></td>
    <td>/</td>
    <td bgcolor="#FFFFFF"><img src="images/Template/menu1_divider.gif" width="10" height="21" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Template</td>
    <td>menu1_divider_Left.gif</td>
    <td><span class="style1">X</span></td>
    <td>/</td>
    <td bgcolor="#FFFFFF"><img src="images/Template/menu1_divider_Left.gif" width="1" height="1" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Template</td>
    <td>menu1_divider_Right.gif</td>
    <td><span class="style1">X</span></td>
    <td>/</td>
    <td bgcolor="#FFFFFF"><img src="images/Template/menu1_divider_Right.gif" width="1" height="1" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF">
    <td bgcolor="#DFEFFF">&nbsp;</td>
    <td bgcolor="#DFEFFF"><font color="0055BB">Menu2...</font></td>
    <td colspan="3">&nbsp;</td>
  </tr>
  <tr bgcolor="#FFFFFF">
    <td><img src="images/admin/folder.gif" align="absmiddle">Template</td>
    <td>menu2_bullet.gif</td>
    <td>&nbsp;</td>
    <td>/</td>
    <td bgcolor="#FFFFFF"><img src="images/Template/menu2_bullet.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF">
    <td><img src="images/admin/folder.gif" align="absmiddle">Template</td>
    <td>menu2.gif</td>
    <td><span class="style1">X</span></td>
    <td>/(background image)</td>
    <td bgcolor="#FFFFFF"><img src="images/Template/menu2.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF">
    <td><img src="images/admin/folder.gif" align="absmiddle">Template</td>
    <td>menu2_over.gif</td>
    <td><span class="style1">X</span></td>
    <td>/(background image)</td>
    <td bgcolor="#FFFFFF"><img src="images/Template/menu2_over.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Template</td>
    <td>menu2_divider.gif</td>
    <td><span class="style1">X</span></td>
    <td>/</td>
    <td bgcolor="#FFFFFF"><img src="images/Template/menu2_divider.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Template</td>
    <td>menu2_divider_Left.gif</td>
    <td><span class="style1">X</span></td>
    <td>/</td>
    <td bgcolor="#FFFFFF"><img src="images/Template/menu2_divider_Left.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Template</td>
    <td>menu2_divider_Right.gif</td>
    <td><span class="style1">X</span></td>
    <td>/</td>
    <td bgcolor="#FFFFFF"><img src="images/Template/menu2_divider_Right.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF">
    <td bgcolor="#DFEFFF">&nbsp;</td>
    <td bgcolor="#DFEFFF"><font color="0055BB">Menu3...</font></td>
    <td colspan="3">&nbsp;</td>
  </tr>
  <tr bgcolor="#FFFFFF">
    <td><img src="images/admin/folder.gif" align="absmiddle">Template</td>
    <td>menu3_bullet.gif</td>
    <td>&nbsp;</td>
    <td>/</td>
    <td bgcolor="#FFFFFF"><img src="images/Template/menu3_bullet.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF">
    <td><img src="images/admin/folder.gif" align="absmiddle">Template</td>
    <td>menu3.gif</td>
    <td><span class="style1">X</span></td>
    <td>/(background image)</td>
    <td bgcolor="#FFFFFF"><img src="images/Template/menu3.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF">
    <td><img src="images/admin/folder.gif" align="absmiddle">Template</td>
    <td>menu3_over.gif</td>
    <td><span class="style1">X</span></td>
    <td>/(background image)</td>
    <td bgcolor="#FFFFFF"><img src="images/Template/menu3_over.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Template</td>
    <td>menu3_divider.gif</td>
    <td><span class="style1">X</span></td>
    <td>/</td>
    <td bgcolor="#FFFFFF"><img src="images/Template/menu3_divider.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Template</td>
    <td>menu3_divider_Left.gif</td>
    <td><span class="style1">X</span></td>
    <td>/</td>
    <td bgcolor="#FFFFFF"><img src="images/Template/menu3_divider_Left.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Template</td>
    <td>menu3_divider_Right.gif</td>
    <td><span class="style1">X</span></td>
    <td>/</td>
    <td bgcolor="#FFFFFF"><img src="images/Template/menu3_divider_Right.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td bgcolor="#DFEFFF">&nbsp;</td>
    <td bgcolor="#DFEFFF"><font color="0055BB">Hardcoded Text on Buttons...</font></td>
    <td colspan="3">&nbsp;</td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Template</td>
    <td>menu1_1.gif</td>
    <td><span class="style1">X</span></td>
    <td>/</td>
    <td bgcolor="#FFFFFF"><img src="images/Template/menu_1.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Template</td>
    <td>menu1_1_over.gif</td>
    <td><span class="style1">X</span></td>
    <td>/</td>
    <td bgcolor="#FFFFFF"><img src="images/Template/menu_1_over.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Template</td>
    <td>menu1_2.gif</td>
    <td><span class="style1">X</span></td>
    <td>/</td>
    <td bgcolor="#FFFFFF"><img src="images/Template/menu_2.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Template</td>
    <td>menu1_2_over.gif</td>
    <td><span class="style1">X</span></td>
    <td>/</td>
    <td bgcolor="#FFFFFF"><img src="images/Template/menu_2_over.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Template</td>
    <td>menu1_3.gif</td>
    <td><span class="style1">X</span></td>
    <td>/</td>
    <td bgcolor="#FFFFFF"><img src="images/Template/menu_3.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Template</td>
    <td>menu1_3_over.gif</td>
    <td><span class="style1">X</span></td>
    <td>/</td>
    <td bgcolor="#FFFFFF"><img src="images/Template/menu_3_over.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td>&nbsp;</td>
    <td><font color="#999999">(...etc...)</font></td>
    <td colspan="3">(this is an example of how to make your own buttons for EACH
      category, with the text written on the button graphic)</td>
  </tr>
  <tr> 
    <td colspan="5" class="HeadingStyle">HOMEPAGE</td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">HomePage</td>
    <td>Home_Graphic_Welcome.gif</td>
    <td>&nbsp;</td>
    <td>/</td>
    <td><img src="images/homepage/Home_Graphic_Welcome.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">HomePage</td>
    <td>FeaturedProducts.gif</td>
    <td>&nbsp;</td>
    <td>/</td>
    <td><img src="images/homepage/FeaturedProducts.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">HomePage</td>
    <td>FBox_Left_Heading_Back.gif</td>
    <td><span class="style1">X</span></td>
    <td>/</td>
    <td><img src="images/homepage/FBox_Left_Heading_Back.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">HomePage</td>
    <td>FBox_Left_Border_Left.gif</td>
    <td><span class="style1">X</span></td>
    <td>/</td>
    <td><img src="images/homepage/FBox_Left_Border_Left.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">HomePage</td>
    <td>FBox_Left_Border_Bottom.gif</td>
    <td><span class="style1">X</span></td>
    <td>/</td>
    <td><img src="images/homepage/FBox_Left_Border_Bottom.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">HomePage</td>
    <td>FBox_Heading_Back.gif</td>
    <td>&nbsp;</td>
    <td>/</td>
    <td><img src="images/homepage/FBox_Heading_Back.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">HomePage</td>
    <td>FBox_Border_Left.gif</td>
    <td>&nbsp;</td>
    <td>/</td>
    <td><img src="images/homepage/FBox_Border_Left.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">HomePage</td>
    <td>FBox_Border_Bottom.gif</td>
    <td>&nbsp;</td>
    <td>/</td>
    <td><img src="images/homepage/FBox_Border_Bottom.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle"></td>
    <td>Bullet_MoreInfo.gif</td>
    <td>&nbsp;</td>
    <td>/</td>
    <td><img src="images//Bullet_MoreInfo.gif" border="1"></td>
  </tr>
  <tr> 
    <td colspan="5" class="HeadingStyle">SEARCH RESULTS / CATEGORY PAGES</td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><p><img src="images/admin/folder.gif" align="absmiddle"></p></td>
    <td>bullet_subcategory.gif</td>
    <td>&nbsp;</td>
    <td>SearchResults.asp</td>
    <td><img src="images/bullet_subcategory.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><p><img src="images/admin/folder.gif" align="absmiddle"></p></td>
    <td>SearchResults_SubCat_Angle.gif</td>
    <td>&nbsp;</td>
    <td>SearchResults.asp</td>
    <td><img src="images/SearchResults_SubCat_Angle.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><p><img src="images/admin/folder.gif" align="absmiddle">buttons</p></td>
    <td>btn_go_gray.gif</td>
    <td>&nbsp;</td>
    <td>SearchResults.asp</td>
    <td><img src="images/buttons/btn_go_gray.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><p><img src="images/admin/folder.gif" align="absmiddle">buttons</p></td>
    <td>btn_addtowishlist_small.gif</td>
    <td>&nbsp;</td>
    <td>SearchResults.asp</td>
    <td><img src="images/buttons/btn_addtowishlist_small.gif" border="1"></td>
  </tr>
  <tr> 
    <td colspan="5" class="HeadingStyle">PRODUCT DETAILS</td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Buttons</td>
    <td>btn_addtowishlist.gif</td>
    <td>&nbsp;</td>
    <td>ProductDetails.asp</td>
    <td><img src="images/Buttons/btn_addtowishlist.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Buttons</td>
    <td>btn_MorePhotos.gif</td>
    <td>&nbsp;</td>
    <td>ProductDetails.asp</td>
    <td><img src="images/Buttons/btn_MorePhotos.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Buttons</td>
    <td>btn_LargerPhoto.gif</td>
    <td>&nbsp;</td>
    <td>ProductDetails.asp</td>
    <td><img src="images/Buttons/btn_LargerPhoto.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Buttons</td>
    <td>btn_EmailAFriend.gif</td>
    <td>&nbsp;</td>
    <td>ProductDetails.asp</td>
    <td><img src="images/Buttons/btn_EmailAFriend.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Buttons</td>
    <td>btn_UpdatePrice.gif</td>
    <td>&nbsp;</td>
    <td>ProductDetails.asp</td>
    <td><img src="images/Buttons/btn_UpdatePrice.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Buttons</td>
    <td>btn_QuantityDiscounts.gif</td>
    <td>&nbsp;</td>
    <td>ProductDetails.asp</td>
    <td><img src="images/Buttons/btn_QuantityDiscounts.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Buttons</td>
    <td>btn_History_Clear.gif</td>
    <td>&nbsp;</td>
    <td>ProductDetails.asp</td>
    <td><img src="images/Buttons/btn_History_Clear.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Buttons</td>
    <td>btn_History_ClearAll.gif</td>
    <td>&nbsp;</td>
    <td>ProductDetails.asp</td>
    <td><img src="images/Buttons/btn_History_ClearAll.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Buttons</td>
    <td>btn_History_Off.gif</td>
    <td>&nbsp;</td>
    <td>ProductDetails.asp</td>
    <td><img src="images/Buttons/btn_History_Off.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Buttons</td>
    <td>btn_History_On.gif</td>
    <td>&nbsp;</td>
    <td>ProductDetails.asp</td>
    <td><img src="images/Buttons/btn_History_On.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Headings</td>
    <td>Heading_History.gif</td>
    <td>&nbsp;</td>
    <td>ProductDetails.asp</td>
    <td><img src="images/Headings/Heading_History.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle"></td>
    <td>Bullet_History.gif</td>
    <td>&nbsp;</td>
    <td>ProductDetails.asp</td>
    <td><img src="images/Bullet_History.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle"></td>
    <td>line_group_features.gif</td>
    <td>&nbsp;</td>
    <td>ProductDetails.asp</td>
    <td><img src="images/line_group_features.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><p><img src="images/admin/folder.gif" align="absmiddle"></p></td>
    <td>Icon_Help_Options.gif</td>
    <td>&nbsp;</td>
    <td>ProductDetails.asp</td>
    <td><img src="images/Icon_Help_Options.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><p><img src="images/admin/folder.gif" align="absmiddle"></p></td>
    <td>Options_Text_Choose.gif</td>
    <td>&nbsp;</td>
    <td>ProductDetails.asp</td>
    <td><img src="images/Options_Text_Choose.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td bgcolor="#DFEFFF">&nbsp;</td>
    <td bgcolor="#DFEFFF"><font color="0055BB">Pricing Box...</font></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle"></td>
    <td>PBox_Border_Top.gif</td>
    <td>&nbsp;</td>
    <td>ProductDetails.asp</td>
    <td><img src="images/PBox_Border_Top.gif" width="66" height="32" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle"></td>
    <td>PBox_Border_Right.gif</td>
    <td>&nbsp;</td>
    <td>ProductDetails.asp</td>
    <td><img src="images/PBox_Border_Right.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle"></td>
    <td>PBox_Border_Right_Top.gif</td>
    <td>&nbsp;</td>
    <td>ProductDetails.asp</td>
    <td><img src="images/PBox_Border_Right_Top.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle"></td>
    <td>PBox_Border_Right_Top_Opt.gif</td>
    <td>&nbsp;</td>
    <td>ProductDetails.asp</td>
    <td><img src="images/PBox_Border_Right_Top_Opt.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle"></td>
    <td>PBox_Border_Right_Bottom.gif</td>
    <td>&nbsp;</td>
    <td>ProductDetails.asp</td>
    <td><img src="images/PBox_Border_Right_Bottom.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle"></td>
    <td>PBox_Border_Left.gif</td>
    <td>&nbsp;</td>
    <td>ProductDetails.asp</td>
    <td><img src="images/PBox_Border_Left.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle"></td>
    <td>PBox_Border_Left_Top.gif</td>
    <td>&nbsp;</td>
    <td>ProductDetails.asp</td>
    <td><img src="images/PBox_Border_Left_Top.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle"></td>
    <td>PBox_Border_Left_Top_Opt.gif</td>
    <td>&nbsp;</td>
    <td>ProductDetails.asp</td>
    <td><img src="images/PBox_Border_Left_Top_Opt.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle"></td>
    <td>PBox_Border_Left_Bottom.gif</td>
    <td>&nbsp;</td>
    <td>ProductDetails.asp</td>
    <td><img src="images/PBox_Border_Left_Bottom.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td bgcolor="#DFEFFF">&nbsp;</td>
    <td bgcolor="#DFEFFF"><font color="0055BB">Description Box...</font></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle"></td>
    <td>expand_Tab_Back.gif</td>
    <td>&nbsp;</td>
    <td>ProductDetails.asp</td>
    <td><img src="images/expand_Tab_Back.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle"></td>
    <td>expand_Tab_left.gif</td>
    <td>&nbsp;</td>
    <td>ProductDetails.asp</td>
    <td><img src="images/expand_Tab_left.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle"></td>
    <td>expand_tab_Right.gif</td>
    <td>&nbsp;</td>
    <td>ProductDetails.asp</td>
    <td><img src="images/expand_tab_Right.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle"></td>
    <td>PBox_Opt_Back.gif</td>
    <td>&nbsp;</td>
    <td>ProductDetails.asp</td>
    <td><img src="images/PBox_Opt_Back.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle"></td>
    <td>DBox_Border_Top.gif</td>
    <td>&nbsp;</td>
    <td>ProductDetails.asp</td>
    <td><img src="images/DBox_Border_Top.gif" width="104" height="20" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle"></td>
    <td>DBox_Border_Right.gif</td>
    <td>&nbsp;</td>
    <td>ProductDetails.asp</td>
    <td><img src="images/DBox_Border_Right.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle"></td>
    <td>DBox_Border_Right_Top.gif</td>
    <td>&nbsp;</td>
    <td>ProductDetails.asp</td>
    <td><img src="images/DBox_Border_Right_Top.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle"></td>
    <td>DBox_Border_Right_MidDiv.gif</td>
    <td>&nbsp;</td>
    <td>ProductDetails.asp</td>
    <td><img src="images/DBox_Border_Right_MidDiv.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle"></td>
    <td>DBox_Border_Right_Bottom.gif</td>
    <td>&nbsp;</td>
    <td>ProductDetails.asp</td>
    <td><img src="images/DBox_Border_Right_Bottom.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle"></td>
    <td>DBox_Border_Left.gif</td>
    <td>&nbsp;</td>
    <td>ProductDetails.asp</td>
    <td><img src="images/DBox_Border_Left.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle"></td>
    <td>DBox_Border_Left_Top.gif</td>
    <td>&nbsp;</td>
    <td>ProductDetails.asp</td>
    <td><img src="images/DBox_Border_Left_Top.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle"></td>
    <td>DBox_Border_Left_MidDiv.gif</td>
    <td>&nbsp;</td>
    <td>ProductDetails.asp</td>
    <td><img src="images/DBox_Border_Left_MidDiv.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle"></td>
    <td>DBox_Border_Left_Bottom.gif</td>
    <td>&nbsp;</td>
    <td>ProductDetails.asp</td>
    <td><img src="images/DBox_Border_Left_Bottom.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td bgcolor="#DFEFFF">&nbsp;</td>
    <td bgcolor="#DFEFFF"><font color="0055BB">Options Box...</font></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle"></td>
    <td>OBox_Border_Left_Top_Opt.gif</td>
    <td>&nbsp;</td>
    <td>ProductDetails.asp</td>
    <td><img src="images/OBox_Border_Left_Top_Opt.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle"></td>
    <td>OBox_Border_Right_Top_Opt.gif</td>
    <td>&nbsp;</td>
    <td>ProductDetails.asp</td>
    <td><img src="images/OBox_Border_Right_Top_Opt.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td bgcolor="#DFEFFF">&nbsp;</td>
    <td bgcolor="#DFEFFF"><font color="0055BB">Reviews Box...</font></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle"></td>
    <td>RBox_Border_Left_Top.gif</td>
    <td>&nbsp;</td>
    <td>ProductDetails.asp</td>
    <td><img src="images/RBox_Border_Left_Top.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle"></td>
    <td>star0.gif</td>
    <td>&nbsp;</td>
    <td>ProductDetails.asp</td>
    <td><img src="images/star0.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle"></td>
    <td>star0.5.gif</td>
    <td>&nbsp;</td>
    <td>ProductDetails.asp</td>
    <td><img src="images/star0.5.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle"></td>
    <td>star1.gif</td>
    <td>&nbsp;</td>
    <td>ProductDetails.asp</td>
    <td><img src="images/star1.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle"></td>
    <td>star1.5.gif</td>
    <td>&nbsp;</td>
    <td>ProductDetails.asp</td>
    <td><img src="images/star1.5.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle"></td>
    <td>star2.gif</td>
    <td>&nbsp;</td>
    <td>ProductDetails.asp</td>
    <td><img src="images/star2.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle"></td>
    <td>star2.5.gif</td>
    <td>&nbsp;</td>
    <td>ProductDetails.asp</td>
    <td><img src="images/star2.5.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle"></td>
    <td>star3.gif</td>
    <td>&nbsp;</td>
    <td>ProductDetails.asp</td>
    <td><img src="images/star3.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle"></td>
    <td>star3.5.gif</td>
    <td>&nbsp;</td>
    <td>ProductDetails.asp</td>
    <td><img src="images/star3.5.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle"></td>
    <td>star4.gif</td>
    <td>&nbsp;</td>
    <td>ProductDetails.asp</td>
    <td><img src="images/star4.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle"></td>
    <td>star4.5.gif</td>
    <td>&nbsp;</td>
    <td>ProductDetails.asp</td>
    <td><img src="images/star4.5.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle"></td>
    <td>star5.gif</td>
    <td>&nbsp;</td>
    <td>ProductDetails.asp</td>
    <td><img src="images/star5.gif" border="1"></td>
  </tr>
  <td colspan="5" class="HeadingStyle">PREPARING YOUR ORDER... PLEASE WAIT</td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><p><img src="images/admin/folder.gif" align="absmiddle"></p></td>
    <td>Preparing_progressbar.gif</td>
    <td>&nbsp;</td>
    <td>(Please wait screen)</td>
    <td><img src="images/Preparing_progressbar.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><p><img src="images/admin/folder.gif" align="absmiddle"></p></td>
    <td>Preparing_PleaseWait.gif</td>
    <td>&nbsp;</td>
    <td>(Please wait screen)</td>
    <td><img src="images/Preparing_PleaseWait.gif" border="1"></td>
  </tr>
  <tr> 
    <td colspan="5" class="HeadingStyle">SHOPPING CART</td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Buttons</td>
    <td>btn_savecart.gif</td>
    <td>&nbsp;</td>
    <td>ShoppingCart.asp</td>
    <td><img src="images/Buttons/btn_savecart.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Buttons</td>
    <td>btn_recalculate.gif</td>
    <td>&nbsp;</td>
    <td>ShoppingCart.asp</td>
    <td><img src="images/Buttons/btn_recalculate.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Buttons</td>
    <td>btn_apply.gif</td>
    <td>&nbsp;</td>
    <td>ShoppingCart.asp</td>
    <td><img src="images/Buttons/btn_apply.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Buttons</td>
    <td>btn_cart_remove.gif</td>
    <td>&nbsp;</td>
    <td>ShoppingCart.asp</td>
    <td><img src="images/Buttons/btn_cart_remove.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Buttons</td>
    <td>btn_checkout.gif</td>
    <td>&nbsp;</td>
    <td>ShoppingCart.asp</td>
    <td><img src="images/Buttons/btn_checkout.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Buttons</td>
    <td>btn_continueshopping.gif</td>
    <td>&nbsp;</td>
    <td>ShoppingCart.asp</td>
    <td><img src="images/Buttons/btn_continueshopping.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Cart</td>
    <td>cart_br.gif</td>
    <td>&nbsp;</td>
    <td>ShoppingCart.asp</td>
    <td><img src="images/Cart/cart_br.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Cart</td>
    <td>cart_br_background.gif</td>
    <td>&nbsp;</td>
    <td>ShoppingCart.asp</td>
    <td><img src="images/Cart/cart_br_background.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Cart</td>
    <td>cart_line_color_pixel.gif</td>
    <td>&nbsp;</td>
    <td>ShoppingCart.asp</td>
    <td><img src="images/Cart/cart_line_color_pixel.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Cart</td>
    <td>cart_tl.gif</td>
    <td>&nbsp;</td>
    <td>ShoppingCart.asp</td>
    <td><img src="images/Cart/cart_tl.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Cart</td>
    <td>cart_tl_cap.gif</td>
    <td>&nbsp;</td>
    <td>ShoppingCart.asp</td>
    <td><img src="images/Cart/cart_tl_cap.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Cart</td>
    <td>cart_tr.gif</td>
    <td>&nbsp;</td>
    <td>ShoppingCart.asp</td>
    <td><img src="images/Cart/cart_tr.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Cart</td>
    <td>cart_tr_cap.gif</td>
    <td>&nbsp;</td>
    <td>ShoppingCart.asp</td>
    <td><img src="images/Cart/cart_tr_cap.gif" border="1"></td>
  </tr>
  <tr> 
    <td colspan="5" class="HeadingStyle">ACCOUNT SETTINGS</td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Buttons</td>
    <td>btn_edit.gif</td>
    <td>&nbsp;</td>
    <td>AccountSettings.asp</td>
    <td><img src="images/Buttons/btn_edit.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Buttons</td>
    <td>btn_delete.gif</td>
    <td>&nbsp;</td>
    <td>AccountSettings.asp</td>
    <td><img src="images/Buttons/btn_delete.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">CreditCard</td>
    <td>CreditCard_PayOption.gif</td>
    <td>&nbsp;</td>
    <td>AccountSettings.asp</td>
    <td><img src="images/Account/CreditCard_PayOption.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">CreditCard</td>
    <td>eCheck_PayOption.gif</td>
    <td>&nbsp;</td>
    <td>AccountSettings.asp</td>
    <td><img src="images/Account/eCheck_PayOption.gif" border="1"></td>
  </tr>
  <tr> 
    <td colspan="5" class="HeadingStyle">PLACE ORDER</td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Buttons</td>
    <td>btn_Change.gif</td>
    <td>&nbsp;</td>
    <td>PlaceOrder.asp</td>
    <td><img src="images/Buttons/btn_Change.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Buttons</td>
    <td>btn_ChangeQTY.gif</td>
    <td>&nbsp;</td>
    <td>PlaceOrder.asp</td>
    <td><img src="images/Buttons/btn_ChangeQTY.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Buttons</td>
    <td>btn_Continue.gif</td>
    <td>&nbsp;</td>
    <td>PlaceOrder.asp</td>
    <td><img src="images/Buttons/btn_Continue.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Buttons</td>
    <td>btn_PlaceOrder.gif</td>
    <td>&nbsp;</td>
    <td>PlaceOrder.asp</td>
    <td><img src="images/Buttons/btn_PlaceOrder.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">OrderReview</td>
    <td>OR_Text_ClickPlaceOrder.gif</td>
    <td>&nbsp;</td>
    <td>PlaceOrder.asp</td>
    <td><img src="images/OrderReview/OR_Text_ClickPlaceOrder.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">OrderReview</td>
    <td>OR_In_Left_Bottom.gif</td>
    <td>&nbsp;</td>
    <td>PlaceOrder.asp</td>
    <td><img src="images/OrderReview/OR_In_Left_Bottom.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">OrderReview</td>
    <td>OR_In_Left_Top.gif</td>
    <td>&nbsp;</td>
    <td>PlaceOrder.asp</td>
    <td><img src="images/OrderReview/OR_In_Left_Top.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">OrderReview</td>
    <td>OR_In_Left_Top_Highlight.gif</td>
    <td>&nbsp;</td>
    <td>PlaceOrder.asp</td>
    <td><img src="images/OrderReview/OR_In_Left_Top_Highlight.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">OrderReview</td>
    <td>OR_In_Right_Bottom.gif</td>
    <td>&nbsp;</td>
    <td>PlaceOrder.asp</td>
    <td><img src="images/OrderReview/OR_In_Right_Bottom.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">OrderReview</td>
    <td>OR_In_Right_Top.gif</td>
    <td>&nbsp;</td>
    <td>PlaceOrder.asp</td>
    <td><img src="images/OrderReview/OR_In_Right_Top.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">OrderReview</td>
    <td>OR_In_Right_Top_Highlight.gif</td>
    <td>&nbsp;</td>
    <td>PlaceOrder.asp</td>
    <td><img src="images/OrderReview/OR_In_Right_Top_Highlight.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">OrderReview</td>
    <td>OR_Out_Left_Bottom.gif</td>
    <td>&nbsp;</td>
    <td>PlaceOrder.asp</td>
    <td><img src="images/OrderReview/OR_Out_Left_Bottom.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">OrderReview</td>
    <td>OR_Out_Left_Top.gif</td>
    <td>&nbsp;</td>
    <td>PlaceOrder.asp</td>
    <td><img src="images/OrderReview/OR_Out_Left_Top.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">OrderReview</td>
    <td>OR_Out_Right_Bottom.gif</td>
    <td>&nbsp;</td>
    <td>PlaceOrder.asp</td>
    <td><img src="images/OrderReview/OR_Out_Right_Bottom.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">OrderReview</td>
    <td>OR_Out_Right_Top.gif</td>
    <td>&nbsp;</td>
    <td>PlaceOrder.asp</td>
    <td><img src="images/OrderReview/OR_Out_Right_Top.gif" border="1"></td>
  </tr>
  <tr> 
    <td colspan="5" class="HeadingStyle">ORDER FINISHED</td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">OrderReview</td>
    <td>Icon_PackageTracking.gif</td>
    <td>&nbsp;</td>
    <td>OrderFinished.asp</td>
    <td><img src="images/OrderReview/Icon_PackageTracking.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">OrderReview</td>
    <td>Icon_Receipt.gif</td>
    <td>&nbsp;</td>
    <td>OrderFinished.asp</td>
    <td><img src="images/OrderReview/Icon_Receipt.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">OrderReview</td>
    <td>Icon_Download.gif</td>
    <td>&nbsp;</td>
    <td>OrderFinished.asp</td>
    <td><img src="images/OrderReview/Icon_Download.gif" border="1"></td>
  </tr>
  <tr> 
    <td colspan="5" class="HeadingStyle">MY ACCOUNT</td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle"></td>
    <td>Bullet_GoBack.gif</td>
    <td>&nbsp;</td>
    <td>Orders.asp<br>
      OrderDetails.asp</td>
    <td><img src="images/Bullet_GoBack.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Buttons</td>
    <td>btn_ViewOrder.gif</td>
    <td>&nbsp;</td>
    <td>Orders.asp</td>
    <td><img src="images/Buttons/btn_ViewOrder.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Buttons</td>
    <td>btn_PrintInvoice.gif</td>
    <td>&nbsp;</td>
    <td>Orders.asp<br>
      OrderDetails.asp</td>
    <td><img src="images/Buttons/btn_PrintInvoice.gif" border="1"></td>
  </tr>
  <tr> 
    <td colspan="5" class="HeadingStyle">HEADINGS</td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Headings</td>
    <td>heading_AboutUs.gif</td>
    <td>&nbsp;</td>
    <td>AboutUs.asp</td>
    <td><img src="images/Headings/heading_AboutUs.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Headings</td>
    <td>heading_Affiliate.gif</td>
    <td>&nbsp;</td>
    <td>affiliate_info.asp</td>
    <td><img src="images/Headings/heading_Affiliate.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Headings</td>
    <td>heading_EmailAFriend.gif</td>
    <td>&nbsp;</td>
    <td>emailafriend.asp</td>
    <td><img src="images/Headings/heading_EmailAFriend.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Headings</td>
    <td>heading_ForgotPass.gif</td>
    <td>&nbsp;</td>
    <td>login_sendpass.asp</td>
    <td><img src="images/Headings/heading_ForgotPass.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Headings</td>
    <td>heading_GiftCertificate.gif</td>
    <td>&nbsp;</td>
    <td>(Printed on Gift Cert)</td>
    <td><img src="images/Headings/heading_GiftCertificate.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Headings</td>
    <td>heading_GiftCertificates.gif</td>
    <td>&nbsp;</td>
    <td>GiftCert_sendvia.asp</td>
    <td><img src="images/Headings/heading_GiftCertificates.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Headings</td>
    <td>heading_GiftOptions.gif</td>
    <td>&nbsp;</td>
    <td>giftoptions.asp</td>
    <td><img src="images/Headings/heading_GiftOptions.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Headings</td>
    <td>heading_Help.gif</td>
    <td>&nbsp;</td>
    <td>help.asp</td>
    <td><img src="images/Headings/heading_Help.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Headings</td>
    <td>heading_History.gif</td>
    <td>&nbsp;</td>
    <td>productdetails.asp</td>
    <td><img src="images/Headings/heading_History.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Headings</td>
    <td>heading_Login.gif</td>
    <td>&nbsp;</td>
    <td>login.asp</td>
    <td><img src="images/Headings/heading_Login.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Headings</td>
    <td>heading_MailingList.gif</td>
    <td>&nbsp;</td>
    <td>mailinglist_subscribe.asp</td>
    <td><img src="images/Headings/heading_MailingList.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Headings</td>
    <td>heading_MyAccount.gif</td>
    <td>&nbsp;</td>
    <td>myaccount.asp</td>
    <td><img src="images/Headings/heading_MyAccount.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Headings</td>
    <td>heading_PhotoGallery.gif</td>
    <td>&nbsp;</td>
    <td>photogallery.asp</td>
    <td><img src="images/Headings/heading_PhotoGallery.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Headings</td>
    <td>heading_RequestCatalog.gif</td>
    <td>&nbsp;</td>
    <td>requestcatalog.asp</td>
    <td><img src="images/Headings/heading_RequestCatalog.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Headings</td>
    <td>heading_WriteReview.gif</td>
    <td>&nbsp;</td>
    <td>reviewnew.asp</td>
    <td><img src="images/Headings/heading_WriteReview.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Headings</td>
    <td>heading_ShoppingCart.gif</td>
    <td>&nbsp;</td>
    <td>shoppingcart.asp</td>
    <td><img src="images/Headings/heading_ShoppingCart.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Headings</td>
    <td>heading_StoreLocator.gif</td>
    <td>&nbsp;</td>
    <td><p>storelocator.asp</p></td>
    <td><img src="images/Headings/heading_StoreLocator.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Headings</td>
    <td>heading_Wishlist.gif</td>
    <td>&nbsp;</td>
    <td>wishlist.asp</td>
    <td><img src="images/Headings/heading_Wishlist.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Headings</td>
    <td>youarehere_1.gif</td>
    <td>&nbsp;</td>
    <td>N/A</td>
    <td><img src="images/Headings/youarehere_1.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Headings</td>
    <td>youarehere_2.gif</td>
    <td>&nbsp;</td>
    <td>accountsettings.asp</td>
    <td><img src="images/Headings/youarehere_2.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Headings</td>
    <td>youarehere_3.gif</td>
    <td>&nbsp;</td>
    <td>N/A</td>
    <td><img src="images/Headings/youarehere_3.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Headings</td>
    <td>youarehere_4.gif</td>
    <td>&nbsp;</td>
    <td>giftoptions.asp</td>
    <td><img src="images/Headings/youarehere_4.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Headings</td>
    <td>youarehere_5.gif</td>
    <td>&nbsp;</td>
    <td>accountsettings.asp</td>
    <td><img src="images/Headings/youarehere_5.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Headings</td>
    <td>youarehere_6.gif</td>
    <td>&nbsp;</td>
    <td>accountsettings.asp</td>
    <td><img src="images/Headings/youarehere_6.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Headings</td>
    <td>youarehere_7.gif</td>
    <td>&nbsp;</td>
    <td>placeorder.asp</td>
    <td><img src="images/Headings/youarehere_7.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Headings</td>
    <td>youarehere_8.gif</td>
    <td>&nbsp;</td>
    <td>orderfinished.asp</td>
    <td><img src="images/Headings/youarehere_8.gif" border="1"></td>
  </tr>
  <tr> 
    <td colspan="5" class="HeadingStyle">ALL BUTTONS (repeats buttons above + 
      more)</td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td bgcolor="#DFEFFF">&nbsp;</td>
    <td bgcolor="#DFEFFF"><font color="0055BB">Main Buttons...</font></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Buttons</td>
    <td>btn_addtowishlist_remove.gif</td>
    <td>&nbsp;</td>
    <td>addtowishlist.asp</td>
    <td><img src="images/Buttons/btn_addtowishlist_remove.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Buttons</td>
    <td>btn_addtowishlist_clear.gif</td>
    <td>&nbsp;</td>
    <td>addtowishlist.asp</td>
    <td><img src="images/Buttons/btn_addtowishlist_clear.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Buttons</td>
    <td>btn_addtocart.gif</td>
    <td>&nbsp;</td>
    <td>productdetails.asp</td>
    <td><img src="images/Buttons/btn_addtocart.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Buttons</td>
    <td>btn_addtocart_small.gif</td>
    <td>&nbsp;</td>
    <td>searchresults.asp</td>
    <td><img src="images/Buttons/btn_addtocart_small.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Buttons</td>
    <td>btn_savechanges.gif</td>
    <td>&nbsp;</td>
    <td>accountsettings.asp</td>
    <td><img src="images/Buttons/btn_savechanges.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Buttons</td>
    <td>btn_continue.gif</td>
    <td>&nbsp;</td>
    <td>accountsettings.asp</td>
    <td><img src="images/Buttons/btn_continue.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Buttons</td>
    <td>btn_choose.gif</td>
    <td>&nbsp;</td>
    <td>accountsettings.asp</td>
    <td><img src="images/Buttons/btn_choose.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Buttons</td>
    <td>btn_placeorder.gif</td>
    <td>&nbsp;</td>
    <td>placeorder.asp</td>
    <td><img src="images/Buttons/btn_placeorder.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Buttons</td>
    <td>btn_checkout.gif</td>
    <td>&nbsp;</td>
    <td>shoppingcart.asp</td>
    <td><img src="images/Buttons/btn_checkout.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Buttons</td>
    <td>btn_continueshopping.gif</td>
    <td>&nbsp;</td>
    <td>shoppingcart.asp</td>
    <td><img src="images/Buttons/btn_continueshopping.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Buttons</td>
    <td>btn_nextpage.gif</td>
    <td>&nbsp;</td>
    <td>searchresults.asp</td>
    <td><img src="images/Buttons/btn_nextpage.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Buttons</td>
    <td>btn_prevpage.gif</td>
    <td>&nbsp;</td>
    <td>searchresults.asp</td>
    <td><img src="images/Buttons/btn_prevpage.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Buttons</td>
    <td>btn_login.gif</td>
    <td>&nbsp;</td>
    <td>login.asp</td>
    <td><img src="images/Buttons/btn_login.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td bgcolor="#DFEFFF">&nbsp;</td>
    <td bgcolor="#DFEFFF"><font color="0055BB">Subs(1)...</font></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><p><img src="images/admin/folder.gif" align="absmiddle">Buttons</p></td>
    <td>btn_edit.gif</td>
    <td>&nbsp;</td>
    <td>accountsettings.asp</td>
    <td><img src="images/Buttons/btn_edit.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Buttons</td>
    <td>btn_delete.gif</td>
    <td>&nbsp;</td>
    <td>accountsettings.asp</td>
    <td><img src="images/Buttons/btn_delete.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Buttons</td>
    <td>btn_change.gif</td>
    <td>&nbsp;</td>
    <td>placeorder.asp</td>
    <td><img src="images/Buttons/btn_change.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Buttons</td>
    <td>btn_apply.gif</td>
    <td>&nbsp;</td>
    <td>shoppingcart.asp</td>
    <td><img src="images/Buttons/btn_apply.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Buttons</td>
    <td>btn_recalculate.gif</td>
    <td>&nbsp;</td>
    <td>shoppingcart.asp</td>
    <td><img src="images/Buttons/btn_recalculate.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Buttons</td>
    <td>btn_changeqty.gif</td>
    <td>&nbsp;</td>
    <td>placeorder.asp</td>
    <td><img src="images/Buttons/btn_changeqty.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td bgcolor="#DFEFFF">&nbsp;</td>
    <td bgcolor="#DFEFFF"><font color="0055BB">Subs(2)...</font></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Buttons</td>
    <td>btn_morephotos.gif</td>
    <td>&nbsp;</td>
    <td>productdetails.asp</td>
    <td><img src="images/Buttons/btn_morephotos.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Buttons</td>
    <td>btn_largerphoto.gif</td>
    <td>&nbsp;</td>
    <td>productdetails.asp</td>
    <td><img src="images/Buttons/btn_largerphoto.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Buttons</td>
    <td>btn_emailafriend.gif</td>
    <td>&nbsp;</td>
    <td>productdetails.asp</td>
    <td><img src="images/Buttons/btn_emailafriend.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td bgcolor="#DFEFFF">&nbsp;</td>
    <td bgcolor="#DFEFFF"><font color="0055BB">Other Subs...</font></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Buttons</td>
    <td>btn_updateprice.gif</td>
    <td>&nbsp;</td>
    <td>productdetails.asp</td>
    <td><img src="images/Buttons/btn_updateprice.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Buttons</td>
    <td>btn_vieworder.gif</td>
    <td>&nbsp;</td>
    <td>orders.asp</td>
    <td><img src="images/Buttons/btn_vieworder.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Buttons</td>
    <td>btn_close.gif</td>
    <td>&nbsp;</td>
    <td>help_options.asp</td>
    <td><img src="images/Buttons/btn_close.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Buttons</td>
    <td>btn_quantitydiscounts.gif</td>
    <td>&nbsp;</td>
    <td>productdetails.asp</td>
    <td><img src="images/Buttons/btn_quantitydiscounts.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Buttons</td>
    <td>btn_printinvoice.gif</td>
    <td>&nbsp;</td>
    <td>orderdetails.asp</td>
    <td><img src="images/Buttons/btn_printinvoice.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Buttons</td>
    <td>btn_reviews_yes.gif</td>
    <td>&nbsp;</td>
    <td>productdetails.asp</td>
    <td><img src="images/Buttons/btn_reviews_yes.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Buttons</td>
    <td>btn_reviews_no.gif</td>
    <td>&nbsp;</td>
    <td>productdetails.asp</td>
    <td><img src="images/Buttons/btn_reviews_no.gif" border="1"></td>
  </tr>
  <tr> 
    <td colspan="5" class="HeadingStyle">GRAPHICS THAT RARELY CHANGE</td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><p><img src="images/admin/folder.gif" align="absmiddle"></p></td>
    <td>clear1x1.gif</td>
    <td>&nbsp;</td>
    <td>(All pages)</td>
    <td><img src="images/clear1x1.gif"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><p><img src="images/admin/folder.gif" align="absmiddle"></p></td>
    <td>couponB.gif</td>
    <td>&nbsp;</td>
    <td>shoppingcart.asp</td>
    <td><img src="images/couponB.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><p><img src="images/admin/folder.gif" align="absmiddle"></p></td>
    <td>couponT.gif</td>
    <td>&nbsp;</td>
    <td>shoppingcart.asp</td>
    <td><img src="images/couponT.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><p><img src="images/admin/folder.gif" align="absmiddle"></p></td>
    <td>couponL.gif</td>
    <td>&nbsp;</td>
    <td>shoppingcart.asp</td>
    <td><img src="images/couponL.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><p><img src="images/admin/folder.gif" align="absmiddle"></p></td>
    <td>couponLB.gif</td>
    <td>&nbsp;</td>
    <td>shoppingcart.asp</td>
    <td><img src="images/couponLB.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><p><img src="images/admin/folder.gif" align="absmiddle"></p></td>
    <td>couponLT.gif</td>
    <td>&nbsp;</td>
    <td>shoppingcart.asp</td>
    <td><img src="images/couponLT.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><p><img src="images/admin/folder.gif" align="absmiddle"></p></td>
    <td>couponR.gif</td>
    <td>&nbsp;</td>
    <td>shoppingcart.asp</td>
    <td><img src="images/couponR.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><p><img src="images/admin/folder.gif" align="absmiddle"></p></td>
    <td>couponRT.gif</td>
    <td>&nbsp;</td>
    <td>shoppingcart.asp</td>
    <td><img src="images/couponRT.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><p><img src="images/admin/folder.gif" align="absmiddle"></p></td>
    <td>divider_horizontal.gif</td>
    <td>&nbsp;</td>
    <td>searchresults.asp</td>
    <td><img src="images/divider_horizontal.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><p><img src="images/admin/folder.gif" align="absmiddle"></p></td>
    <td>grid_divider_horizontal.gif</td>
    <td>&nbsp;</td>
    <td>searchresults.asp</td>
    <td><img src="images/grid_divider_horizontal.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><p><img src="images/admin/folder.gif" align="absmiddle"></p></td>
    <td>grid_divider_vertical.gif</td>
    <td>&nbsp;</td>
    <td>searchresults.asp</td>
    <td><img src="images/grid_divider_vertical.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><p><img src="images/admin/folder.gif" align="absmiddle"></p></td>
    <td>grid_single_divider_horiz.gif</td>
    <td>&nbsp;</td>
    <td>searchresults.asp</td>
    <td><img src="images/grid_single_divider_horiz.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><p><img src="images/admin/folder.gif" align="absmiddle"></p></td>
    <td>grid_single_divider_vert.gif</td>
    <td>&nbsp;</td>
    <td>searchresults.asp</td>
    <td><img src="images/grid_single_divider_vert.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><p><img src="images/admin/folder.gif" align="absmiddle"></p></td>
    <td>Error_Alert.gif</td>
    <td>&nbsp;</td>
    <td>(all pages)</td>
    <td><img src="images/error_alert.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><p><img src="images/admin/folder.gif" align="absmiddle"></p></td>
    <td>icon_freeshipping.gif</td>
    <td>&nbsp;</td>
    <td>productdetails.asp</td>
    <td><img src="images/icon_freeshipping.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><p><img src="images/admin/folder.gif" align="absmiddle"></p></td>
    <td>icon_freeshipping_small.gif</td>
    <td>&nbsp;</td>
    <td>productdetails.asp</td>
    <td><img src="images/icon_freeshipping_small.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><p><img src="images/admin/folder.gif" align="absmiddle"></p></td>
    <td>icon_giftwrap.gif</td>
    <td>&nbsp;</td>
    <td>placeorder.asp</td>
    <td><img src="images/icon_giftwrap.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><p><img src="images/admin/folder.gif" align="absmiddle"></p></td>
    <td>icon_help_options.gif</td>
    <td>&nbsp;</td>
    <td>productdetails.asp</td>
    <td><img src="images/icon_help_options.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><p><img src="images/admin/folder.gif" align="absmiddle"></p></td>
    <td>icon_new.gif</td>
    <td>&nbsp;</td>
    <td>searchresults.asp</td>
    <td><img src="images/icon_new.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><p><img src="images/admin/folder.gif" align="absmiddle"></p></td>
    <td>NoPhoto.gif</td>
    <td>&nbsp;</td>
    <td>/</td>
    <td><img src="images/NoPhoto.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><p><img src="images/admin/folder.gif" align="absmiddle"></p></td>
    <td>NoPhoto-0.gif</td>
    <td>&nbsp;</td>
    <td>shoppingcart.asp</td>
    <td><img src="images/NoPhoto-0.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><p><img src="images/admin/folder.gif" align="absmiddle"></p></td>
    <td>Pixel_Black.gif</td>
    <td>&nbsp;</td>
    <td>receipt.asp<br>
      (admin/<br>
      print_giftcertificates.asp)<br> </td>
    <td><img src="images/Pixel_Black.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><p><img src="images/admin/folder.gif" align="absmiddle"></p></td>
    <td>Pixel_White.gif</td>
    <td>&nbsp;</td>
    <td>giftoptions.asp<br>
      shoppingcart.asp </td>
    <td><img src="images/Pixel_White.gif" border="1"></td>
  </tr>
  <tr> 
    <td colspan="5" class="HeadingStyle">SSL Seals </td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><p><img src="images/admin/folder.gif" align="absmiddle">Logos</p></td>
    <td>seal_instantssl.gif</td>
    <td>&nbsp;</td>
    <td>/</td>
    <td><img src="images/logos/seal_instantssl.gif" width="100" height="100" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><p><img src="images/admin/folder.gif" align="absmiddle">Logos</p></td>
    <td>seal_trustlogo.gif</td>
    <td>&nbsp;</td>
    <td>/</td>
    <td><img src="images/logos/seal_trustlogo.gif" width="100" height="100" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><p><img src="images/admin/folder.gif" align="absmiddle">Logos</p></td>
    <td>seal_verisign.gif</td>
    <td>&nbsp;</td>
    <td>/</td>
    <td><img src="images/logos/seal_verisign.gif" width="100" height="100" border="1"></td>
  </tr>
  <tr> 
    <td colspan="5" class="HeadingStyle">LIVE CHAT GRAPHICS (LivePerson) </td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><p><img src="images/admin/folder.gif" align="absmiddle">livechat</p></td>
    <td>reoccupied.gif</td>
    <td><span class="style1">X</span></td>
    <td>/</td>
    <td><img src="images/livechat/reoccupied.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><p><img src="images/admin/folder.gif" align="absmiddle">livechat</p></td>
    <td>repoffline.gif<br></td>
    <td><span class="style1">X</span></td>
    <td>/</td>
    <td><img src="images/livechat/repoffline.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><p><img src="images/admin/folder.gif" align="absmiddle">livechat</p></td>
    <td>reponline.gif<br></td>
    <td><span class="style1">X</span></td>
    <td>/</td>
    <td><img src="images/livechat/reponline.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><p><img src="images/admin/folder.gif" align="absmiddle">livechat</p></td>
    <td>need_help_on.gif<br></td>
    <td><span class="style1">X</span></td>
    <td>/</td>
    <td><img src="images/livechat/need_help_on.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><p><img src="images/admin/folder.gif" align="absmiddle">livechat</p></td>
    <td>need_help_off.gif</td>
    <td><span class="style1">X</span></td>
    <td>/</td>
    <td><img src="images/livechat/need_help_off.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><p><img src="images/admin/folder.gif" align="absmiddle">livechat</p></td>
    <td>close_off.gif</td>
    <td><span class="style1">X</span></td>
    <td>/</td>
    <td><img src="images/livechat/close_off.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><p><img src="images/admin/folder.gif" align="absmiddle">livechat</p></td>
    <td>close_on.gif</td>
    <td><span class="style1">X</span></td>
    <td>/</td>
    <td><img src="images/livechat/close_on.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><p><img src="images/admin/folder.gif" align="absmiddle">livechat</p></td>
    <td>active_window.gif<br></td>
    <td><span class="style1">X</span></td>
    <td>/</td>
    <td><img src="images/livechat/active_window.gif" border="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><p><img src="images/admin/folder.gif" align="absmiddle">livechat</p></td>
    <td>leave_message.gif</td>
    <td><span class="style1">X</span></td>
    <td>/</td>
    <td><img src="images/livechat/leave_message.gif" border="1"></td>
  </tr>
  <tr bgcolor="#000000"> 
    <td colspan="5" class="HeadingStyle">IMAGE 
      FOLDER DESCRIPTIONS</td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><p><img src="images/admin/folder.gif" align="absmiddle"></p></td>
    <td colspan="4">Common graphics</td>
  </tr>
  <tr bgcolor="#FFFFFF">
    <td><img src="images/admin/folder.gif" align="absmiddle">Account</td>
    <td colspan="4" bgcolor="#FFFFFF">Payment/Account related graphics</td>
  </tr>
  <tr bgcolor="#FFFFFF">
    <td><p><img src="images/admin/folder.gif" align="absmiddle">Banners</p></td>
    <td colspan="4">Affiliate system banner ads</td>
  </tr>
  <tr bgcolor="#FFFFFF">
    <td><img src="images/admin/folder.gif" align="absmiddle">Buttons</td>
    <td colspan="4">All website button graphics</td>
  </tr>
  <tr bgcolor="#FFFFFF">
    <td><p><img src="images/admin/folder.gif" align="absmiddle">Cart</p></td>
    <td colspan="4">Shopping cart graphics</td>
  </tr>
  <tr bgcolor="#FFFFFF">
    <td><p><img src="images/admin/folder.gif" align="absmiddle">Company</p></td>
    <td colspan="4" bgcolor="#FFFFFF">Company Logos and graphics</td>
  </tr>
  <tr bgcolor="#FFFFFF">
    <td>
      <p><img src="images/admin/folder.gif" align="absmiddle">Headings</p></td>
    <td colspan="4">Webpage headings and titles</td>
  </tr>
  <tr bgcolor="#FFFFFF">
    <td><p><img src="images/admin/folder.gif" align="absmiddle">HomePage</p></td>
    <td colspan="4" bgcolor="#FFFFFF">Home Page graphics</td>
  </tr>
  <tr bgcolor="#FFFFFF">
    <td><p><img src="images/admin/folder.gif" align="absmiddle">Logos</p></td>
    <td colspan="4">Third Party Logos / Seals </td>
  </tr>
  <tr bgcolor="#FFFFFF">
    <td><p><img src="images/admin/folder.gif" align="absmiddle">OrderReview</p></td>
    <td colspan="4">Order Review / Place Order graphics</td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td><img src="images/admin/folder.gif" align="absmiddle">Template</td>
    <td colspan="4">Template specific graphics</td>
  </tr>
</table>
