#display_menu_1 .nav {cursor:pointer; background-color:transparent;}
#display_menu_1 .nav a { FONT: bold 11px Verdana;  TEXT-DECORATION: none; }
#display_menu_1 .nav_hover {cursor:pointer; background-color:transparent;}
#display_menu_1 .nav_hover a { text-decoration:none; font:bold 11px Verdana; }

#display_menu_2 .nav {cursor:pointer; background-color:transparent;}
#display_menu_2 .nav a { FONT: bold 11px Verdana;  TEXT-DECORATION: none; }
#display_menu_2 .nav_hover {cursor:pointer; background-color:transparent;}
#display_menu_2 .nav_hover a { text-decoration:none; font:bold 11px Verdana; }

#display_menu_3 .nav {cursor:pointer; background-color:transparent;}
#display_menu_3 .nav a { FONT: bold 11px Verdana; COLOR:#666; TEXT-DECORATION: none; }
#display_menu_3 .nav_hover {cursor:pointer; background-color:transparent;}
#display_menu_3 .nav_hover a {color:#666; text-decoration:none; font:bold 11px Verdana; }

#display_menu_4 .nav a {color:transparent;}
#display_menu_4 .nav_hover a {color:transparent;}
#display_menu_4 .nav {background-color:transparent;}
#display_menu_4 .nav_hover {background-color:transparent;}
#display_menu_5 .nav a {color:transparent;}
#display_menu_5 .nav_hover a {color:transparent;}
#display_menu_5 .nav {background-color:transparent;}
#display_menu_5 .nav_hover {background-color:transparent;}
#display_menu_6 .nav a {color:transparent;}
#display_menu_6 .nav_hover a {color:transparent;}
#display_menu_6 .nav {background-color:transparent;}
#display_menu_6 .nav_hover {background-color:transparent;}
#display_menu_7 .nav a {color:transparent;}
#display_menu_7 .nav_hover a {color:transparent;}
#display_menu_7 .nav {background-color:transparent;}
#display_menu_7 .nav_hover {background-color:transparent;}
#display_menu_8 .nav a {color:transparent;}
#display_menu_8 .nav_hover a {color:transparent;}
#display_menu_8 .nav {background-color:transparent;}
#display_menu_8 .nav_hover {background-color:transparent;}