/* CSS Document */

body{
	text-align:center;
	margin:0;
	padding:0;
	font-size:12px;
	background:#473938; 
	font-family: Verdana, Tahoma, helvetica, sans-serif;
}

h2{
	font-size: 18px;
}

h3{
	font-size: 14px;
}

img{
	border:0px none;
}

/*ul, ol, dl { position: relative;  }*/
#body a{
	text-decoration:none;
}
#body li.last{
	margin:0;
	padding:0;
	border:none;
}
#body a:hover{
	text-decoration:underline;
}

img{border: 0px !important;}

#topbar{
	padding:0;
	margin:0;
	text-align:left;
	width:826px;
	height: 64px;
	margin:0px auto;
	background:#ededed;
	background:url(/v/vspfiles/assets/images/topbar.jpg) no-repeat left top;
}

#left_donate{
	width:205px;
	height:100px;
	padding:10px;
	color: #fff;
	text-align: center;
	background:url(/v/vspfiles/assets/images/purple_panel.jpg) no-repeat left top;
}

#line_nav{
	padding-left: 235px;
	padding-top: 6px;
}

#line_nav a{
	padding-right: 20px;
	FONT: bold 11px Verdana;
	color:#666;
	text-decoration: none;
}

#header{
	width:225px;
	height:150px;
	padding:0;
	margin:0px auto;	
	position:relative;
	text-align:left;
	background:url(/v/vspfiles/assets/images/header.jpg) no-repeat left top;
}
#header h1{
	width:225px;
	margin:0;
	padding:0;
	height:76px;
	position:absolute;
	text-align:left;
	top:0;
	left:0;
	font-size:1em;
	text-indent:-9999px;
	
}

#header h1 a{
	text-indent:-99999px;
	display:block;
	width:200px;
	height:76px;
	/*background:url(../images/template/header_bg.gif) no-repeat left top;*/
	text-align:center;
}
#header h1 a#homepage_title{
	text-indent:0;
	display:block;
	width:200px;
	height:56px;
	font-size:18px;
	background:transparent;
	margin-top:60px;
	margin-left:1em;
	text-align:center;
}

#top_nav {
	padding: 10px;
	padding-left: 225px;
	width:491px;
	height:8px;
	font-family: Verdana, Helvetica, sans-serif;
	font-size:11px;
}
#top_nav ul{
	list-style:none;
	margin:0;
	padding:0;
}
#top_nav ul li{
	display:inline;
	margin-right:.25em;
	padding-right:.5em;
	border-right:1px solid #003399;
}
#top_nav ul li a{ 
	color:#003399;
	font-weight:bold;
}
div#search_box{
	padding:0;
	margin:0;
	text-align:left;
	width:170px;
	margin-bottom:15px;
	padding-top:15px;
}
#search_box label{
	color:#fff;
	text-transform:uppercase;
	font-family:"Trebuchet MS";
	font-weight:bold;
	font-size:12px;
	display:block;
	margin-left:10px;
}
#display_search_box{
	padding:0;
	margin:0;
}
#display_search_box form{
	padding:0;
	margin:0;
}
#display_search_box table td{
	vertical-align:middle;
}
#display_search_box input{
	margin:0;
	padding:3px;
	vertical-align:middle;
	width:130px;
	margin-left:10px;
	font-size:10px;
}

#display_search_box img{
	margin:0;
	padding:0;
	padding-bottom:.25em;
	margin-left:5px;
}


#content{
	padding:0;
	margin:0;
	border-right:0px solid #ccc;
	border-top:1px solid #ccc;
	
	text-align:left;
	width:826px;
	margin:0px auto;
	background:#e8e4d8;
	
	
}
#content > *{
	text-align:left;
}
#left_nav{
	margin:0;
	/* turn the following attribute on if you need to position absolutely inside of the left_nav.  Beware: this will screw up the rollover_color_popouts menu in IE7
	
	/*position:relative;*/
	height:100%;
	width:225px;
	background:#e8e4d8;
}

#left_nav h3{
	width:225px;
	margin:0;
	margin-right:-20px;
	padding:0;
	padding-left: 20px;
	padding-top: 10px;
	height:30px;
	font-family:Verdana, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	text-align:left;
	background:url(/v/vspfiles/assets/images/navheaderbg.jpg) no-repeat left top;
}


#left_nav h2{
	width:225px;
	height: 120px;
	margin:0;
	padding:0px;
	font-family:Verdana, Helvetica, sans-serif;
	font-size:18px;
	font-weight:bold;
	text-align:center;
	color: #fff;
	vertical-align: middle;
}

#left_nav h2 a{
	color: #fff;
}


#left_nav ul{
	list-style:none;
	margin:0;
	padding:0;
	margin-left:1em;
	margin-right:0.5em;
	margin-top:1em;
	padding-bottom:1em;
	
}
#left_nav ul li{
	margin:0;
	margin-top:10px;
	padding-left:1em;
	background:url(../images/template/left_nav_bullet.png) no-repeat 0 4px;
	font-family: Verdana, Helvetica, sans-serif;
	font-weight:normal;
}

#left_nav ul li a{
	padding-bottom:.1em;
	color:#fff;
}
#left_nav ul li.nav a{
	padding-bottom:.1em;
	color:#fff;
	font-weight:normal;
}

#left_nav div.nav_section{	
	width:225px;
	padding:0;
	margin:0;
	background: url(/v/vspfiles/assets/images/navitemsbg.jpg)
	
}



#navigation_menu{
	padding:0px;
	text-align:center;
	width:225px;
	margin-top:2em;
	padding-left:1em;
	padding-right:1em;
}

#testimonials{
	padding:0px;
	width:170px;
	margin-top:2em;
}
#testimonials p{
	margin:0;
	padding:0 10px;
}
#testimonials h2{
	background:url(../images/template/testimonials_header.gif) left top no-repeat;
	width:170px;
	height:31px;
	color:white;
	font-size:12px;
	text-indent:0;
	padding-top:8px;
	text-align:center;
}
#mailing_list{
	padding:0px;
	width:170px;
	margin-top:2em;
	height:70px;
}
#mailing_list a{
	display:block;
	width:170px;
	height:70px;
	background:url(../images/template/join_mailing_list_background.gif) left top no-repeat;
	text-indent:-99999px;
}


span.ir{
	display:none;
}
#content #content_area{
	margin:0;
	padding:0px;
	text-align:left;
	width:601px;
	height:100%;
	border-right:0px solid #000;
	background-color:#fff;

}
#content #content_area table{
	text-align:left;
}
#footer{
	margin:0;
	padding:0;
	text-align:center;
	width:826px;
	height:135px;
	position:relative;
	margin:0px auto;
	font-size:.8em;
	color:#000;
	margin-bottom:.2em;
	font-family:Verdana, Helvetica, sans-serif;
	background:url(/v/vspfiles/assets/images/footer.jpg) no-repeat left top;
}
* html #footer{
	margin-top:0;

}

#footer_top{
	width:812px;
	color:#A29F9F;
	text-align:center;
	background:none;
	font-size:10px;
	font-weight:normal;
	padding-bottom:.1em;
	padding-top:1em;
	
	position:relative;
	
}

#display_promotions_999{
	padding:0px;
	text-align:center;
	width:225px;
	margin:0px;
}

#footer_top ul{
	
	list-style:none;
	margin:0;
	padding:0;
	text-align:right;
	padding-top:6px;
	margin-right:1em;
}

#footer_top ul li{
	text-align:left;
	font-size:1.1em;
	font-weight: bold;
	margin-right:.5em;
	padding-right:.5em;
	border-right:1px solid #ccc;
	display:inline;
	
	
}
#footer_top ul li a{
	color:#A29F9F;
	font-weight: normal;
}
#footer_top p{
	margin:0;
	padding:0;
	margin-top:8px;
	font-weight:normal;
	text-align:right;
	font-size:10px;
	margin-right:1em;
}
#footer_bottom{
	
	width:812px;
	color:#A29F9F;
	text-align:right;
	background:none;
	font-size:10px;
	font-weight:normal;
	padding-bottom:1em;
	padding-top:5em;
}

#footer #footer_bottom a{
	color:#818181
}
#footer a{
	color:#A29F9F;
	font-weight:normal;
}

#home_page_splash{
	padding:0;
	margin:0 auto;
	width:635px;
	text-align:left;
	font-size:11px;
	line-height:12px;
	font-family: Verdana, Helvetica, sans-serif;
	margin-top:1em;
	
}
#home_page_splash #home_page_top{
	width:635px;
	height:258px;
	position:relative;
	background:url(../images/template/home_page_splash.jpg) no-repeat left top;
	margin:0;
	padding:0;
	margin-bottom:1em;
}

.rowcontainer{
	
	float:left;
	width:635px;
}

.home_page_section{
	width:279px;
	height:100px;
	float:left;
	
	
}
#section1{
	background:url(../images/template/ph-01.jpg) top left no-repeat;
}
#section2{
	background:url(../images/template/ph-02.jpg) top left no-repeat;
}


.home_page_section_featured{
	margin-top:1em;
	width:635px;
	height:33px;
	clear:both;
	background:url(../images/template/featured.gif) top left no-repeat;
	
}

.home_page_section p{
	margin-left:9.5em;
}
.home_page_section p a{
	color:#F7941D;
	font-weight:bold;
}

.dropdown_select{
	margin-bottom:1em;
}
.dropdown_select select{
	width:145px;
	margin:0;
	padding:0;
	margin-left:10px;
	font-size:9px;
	border:1px solid #ccc;
	}

/* this is for the rollover_colors_popout link color */
#left_nav .nav_section table td a{
	color:#777777;
}

div#menu0{
	margin-left:1em;
}

#left_nav table.milonictable tr td a{
	color:#333;
}

#display_menu_1 div.subnav {cursor:pointer; background-color:#fff;}
#display_menu_1 div.subnav table.milonictable tr td{ padding:5px;}

#menu2{margin-left:1em;}