#display_menu_1{float:left;}
#top_nav #tbl0{
	height:35px;
	margin:0;
	padding:0;
	width:auto;
}
#top_nav td img {display:none !important;}  

#top_nav td.nav a, #top_nav td.nav_hover a{
	color:#000 !important;
	display:inline-block !important;
	font-size:16px !important;
	height:25px !important;
	margin:0 !important;
	padding:7px 10px 3px 10px !important;
	text-decoration:none;
	text-transform:capitalize;
text-align:left !important;
}
#top_nav td.nav_hover {
	background:#131313 url(../images/template/top_nav_td_hover.gif) no-repeat 0 0 !important;	
}
#top_nav td.nav_hover a{
	color:#fff !important;
	background:url(../images/template/top_nav_a_hover.gif) no-repeat right 0 !important;		
}
#top_nav td.subnav, #top_nav td.subnav_hover {
	background:none !important;
	background-color:#131313 !important;
	height:auto !important;
	margin:0 !important;
	padding:0 !important;
	text-align:left !important;
}
#top_nav td.subnav a, #top_nav td.subnav_hover a{
	background:none !important;
	color:#fff !important;
	display:inline-block !important;
	font-size:13px !important;
	height:auto !important;
	margin:0 !important;
	padding:7px 0 8px 0 !important;
	text-decoration:none;
	text-transform:capitalize;
	text-align:left !important;
}
#top_nav td.subnav_hover a{
	color:#ccd733 !important;
}



#left_nav ul {
	list-style:none;	
	margin:0;
	padding:0 10px;
	width:163px;
}
#left_nav ul li.nav{
	border-bottom:1px solid #a8a399;
	margin:0;
	padding:0 10px 0 0;
}
#left_nav ul li.nav_hover{
	background:url(../images/template/left_nav_arrow.gif) no-repeat right 10px;
}
#left_nav ul li.nav a{
	color:#fff !important;
	display:block;
	font-size:13px;
	padding:7px 0;
	text-decoration:none;
}
#left_nav ul li.nav_hover a{
	color:#262626 !important;
}
#display_menu_1 .nav {background-color:transparent;}
#display_menu_1 .nav_hover {background-color:transparent;}
#display_menu_2 .nav {background-color:transparent;}
#display_menu_2 .nav_hover {background-color:transparent;}