a {text-decoration:none;}
a, a:visited, a:active {outline-style:none;}
a:hover {text-decoration:underline;}
img {border:none !important;}
.begin{border: none !important;}
.end{border:none !important;}
.bold{font-weight:bold !important;}
.highlight{color:red !important;}
.left{float:left;}
.right{float:right;}
.clear{clear:both;}


/* ############################### FIXES ############################### */
.qe_toolbar_ovr{z-index:9999 !important;} /*admin box*/

/* ############################### WINTER 09 STYLES ############################### */
.next_page_img{width:auto !important; height:auto !important;}
.previous_page_img{width:auto !important; height:auto !important;}
.soft_add_content_area span, .quantity{color:#000;}
.soft_add_wrapper {z-index:999;}

/* ############################### PAGE WRAPPER ############################### */
body{
	background-color:#262626;
	color:#000;
	font: normal 11px Arial, Helvetica, sans-serif;
	margin:0;
	padding:0;
	text-align:left;
}
#page{
	background:#fff;
	min-width:1000px;
	width:100%;
}
/* ############################### HEADER ############################### */
#header{
	background:url(../images/template/header_bg.gif) no-repeat 0 0;
	height:115px;
	margin:0 auto;
	padding:0;
	position:relative;
	text-align:left;
	width:906px;
}
#header div#logo{
	height:72px;
	left:0;
	margin:0;
	padding:0;
	position:absolute;
	top:20px;
	width:457px;
}

#header div#logo a{
	background:transparent url(../images/template/logo.gif) no-repeat 0 0;
	display:block;	
	height:100%;
	left:0;
	margin:0;
	padding:0;
	position:absolute;	
	text-align:left;	
	text-indent:-9999px;
	top:0;	
	width:100%;
}
#header div a#homepage_title{
	background:none;
	font-size:30px;	
	text-indent:0;
}

#site_tools{	
	margin:0;
	padding:0;
	position:absolute;
	right:0;
	text-align:right;
	top:15px;	
}
#site_tools a{
	background-position:0 0;
	background-attachment:scroll;
	background-repeat: no-repeat;
	display:inline-block;
	color:#877f71 !important;
	font-size:12px;
	height:13px;
	_overflow:hidden;
	margin:0 7px;
	padding:1px 0 0 20px;
	text-decoration:none;
}
#site_tools a.a1{background-image:url(../images/template/icon_myaccount.gif);}
#site_tools a.a2{background-image:url(../images/template/icon_wishlist.gif);}
#site_tools a.a3{background-image:url(../images/template/icon_help.gif); background-position:7px 0;}
#site_tools a.a4{background-image:url(../images/template/icon_contactus.gif);margin-right:0;}
#site_tools a:hover{color:#b30c19 !important; background-position:0 -14px;}
#site_tools a.a3:hover{background-position:7px -14px;}

/* ############################### SHOPPING CART DISPLAY  */
#cart_wrapper a{
	background:url(../images/template/icon_viewcart.gif) no-repeat 0 3px;
	color:#b30c19 !important;
	display:inline-block;
	font-size:12px;
	height:14px;
	margin:10px 0 0 0;
	padding:0 0 0 20px;
	text-decoration:none;
}
#cart_wrapper a:hover{color:#877f71 !important;background-position:0 3px;}
/* WINTER09 */
#display_cart_summary, 
.cartsummary_full, 
.cartsummary_empty{	display:inline; }


/* ############################### SEARCH BOX  */
#display_search{
	background:url(../images/template/search_bg.gif) no-repeat 0 0;
	display:block;
	float:right;
	height:27px;
	margin:18px 0 0 0;
	padding:0;
	text-align:right;
	width:275px;
}
#display_search #search_input{
	background:none;
	border:none;
	display:block;
	float:left;
	font-size:12px;	
	margin:0 10px 0 0;
	padding:5px 0px 7px 10px;
	text-align:left;
	width:198px;
}
#display_search #search_submit{
	background:none;
	border:none;
	color:#fff;
	cursor:pointer;
	display:block;
	font-size:0px;
	height:27px;
	margin:0;
	padding:0;
	text-indent:-9999px;
	width:57px;
}


/* ############################### TOP NAVIGATION ############################### */
#top_nav_wrapper{
	background:url(../images/template/top_nav_bg.gif) repeat-x 0 bottom;
	height:114px;
	width:100%;	
}
#top_nav{
	height:35px;
	margin:0 auto;
	padding:0;
	text-align:left;
	width:906px;
}
#top_nav a.a1{
	background-position:0 0;
	background-repeat:no-repeat;
	background-image:url(../images/template/icon_home.gif);
	display:block; 
	float:left;
	height:35px;
margin-right:5px;
	text-indent:-9999px;
	width:31px;
}
#top_nav a.a1:hover{background-position:0 -35px;}
#top_nav_wrapper h2{color:#fff; font:normal 32px georgia; width:906px; margin:30px auto 0;}
/* ############################### CONTENT ############################### */
#content{
	margin:25px auto 25px auto;
	padding:0;
	text-align:left;
	width:906px;
}

/* ############################### LEFT_NAV ############################### */
#left_nav{
	background:#877f71 url(../images/template/left_nav_bot_bg.gif) no-repeat 0 bottom;
	margin:0;
	padding:0 0 10px 0;
	text-align:left;	
	width:183px;
}
#left_nav .top{
	background:url(../images/template/left_nav_top_bg.gif) no-repeat 0 0;
	height:4px;
	margin:0;
	padding:0;
	width:183px;
}

/* ############################### PROMOTIONS */
#display_promotions_999{
	margin:0;
	padding:10px 0px;
	text-align:center;
	vertical-align:middle;
	width:100%;
}

/* ############################### CONTENT AREA ############################### */
#content_area{
	margin:0;
	padding:0 0 0 20px;
	text-align:left;
	width:703px;
}

#content #content_area table{text-align:left;}


/* ############################### HOMEPAGE ONLY */
#homepage a.a1{
	background:url(../images/homepage/pfw-main.png) no-repeat 0 0;
	color:#2a2722 !important;
	display:block;
	float:left;
	font-size:14px;
	height:54px;
	padding:295px 40px 0 225px;
	text-align:right;
	text-decoration:none;
	width:367px;
font-weight:bold;
}
#homepage a:hover{text-decoration:underline;}
#homepage a.a2{
	background:url(../images/homepage/home_right.gif) no-repeat 0 0;
	display:block;
	float:right;
	font-size:0;
	height:349px;
	text-indent:-9999px;
	width:250px;
}
#homepage .featured{
	background:url(../images/homepage/FeaturedProducts_bug.gif) no-repeat 0 0;
	border-bottom:3px solid	#666666;
	margin:45px 0 10px 0;
	padding:0 0 10px 0;
	text-indent:-9999px;
}


/* ############################### FOOTER ############################### */
#footer_wrapper{
	background-color:#262626;	
	width:100%;
}
#footer{
	margin:0 auto;
	padding:15px 0 0 0;
	width:906px;
}

/* ############################### FOOTER TOP */
#footer_top{
	border-top:1px solid #333333;
	border-bottom:1px solid #333333;
	color:#fff;
	margin:0;
	padding:15px 0;
}
#footer_top ul{
	list-style:none;
	margin:0;
	padding:0;
}
#footer_top ul li{
	display:inline;
}
#footer_top ul li a{
	color:#fff !important;
	display: inline-block;
	font-size:14px;
	margin:0 0 0 25px;
}
#footer_top ul li.title{
	color:#ccd733;	
	font-size:16px;
}
#footer_top .right a{ color:#fff !important; padding:0 0 0 10px;}

/* ############################### FOOTER BOTTOM */
#footer_bottom{
	color:#fff;
	font-size:11px;
	margin:20px auto 20px auto;
	padding:10px 0px;
}
#footer_bottom a.a1{
	background:url(../images/template/footer_logo.gif) no-repeat 0 0;
	display:block;
	float:left;
	font-size:0;
	height:48px;
	margin:0;
	padding:0;
	text-indent:-9999px;
	width:227px;
}
#footer_bottom a.a2{
	background:url(../images/template/footer_logo_charitynavigator.gif) no-repeat 0 0;
	display:block;
	float:right;
	font-size:0;
	height:100px;
	margin:0;
	padding:0;
	text-indent:-9999px;
	width:100px;	
}
#footer_bottom ul{
	float:left;
	list-style:none;	
	margin:0 0 0 50px;
	padding:0;
}
#footer_bottom ul li{
	font-size:11px;
	margin:0;
	padding:0 0 3px 0;
}
#footer_bottom ul li.title{
	color:#ccd733;	
	font-size:15px;
	margin:0 0 10px 0;
	padding:0;
}
#footer_bottom a{
	color:#fff !important;
}
#footer_bottom p{
	color:#fff;
	font-size:10px;
	margin:10px 0;
	padding:0;
}

/** Greg's Hacks **/
td input[name="emailsubscriber"][type="checkbox"] {
       display: none !important;
}

.productnamecolorSMALL {
    font-size: 12px !important;
}

.smalltext b div div span {
    font-size: 12px !important;
}