#display_menu_3 .nav {cursor:pointer; background-color:;}
#display_menu_3 .nav a { FONT: bold 11px Arial; COLOR:; TEXT-DECORATION: none; }
#display_menu_3 .nav_hover {cursor:pointer; background-color:;}
#display_menu_3 .nav_hover a {color:; text-decoration:none; font:bold 11px arial; }
#display_menu_1 .nav {background-color:#fff;}
#display_menu_1 .nav_hover {background-color:#51AAFD;}
#display_menu_2 .nav {background-color:#fff;}
#display_menu_2 .nav_hover {background-color:#FF6115;}
#display_menu_1 .nav a {color:#474253;}
#display_menu_1 .nav_hover a {color:#fff;}
#display_menu_2 .nav a {color:#474253;}
#display_menu_2 .nav_hover a {color:#fff;}