/* CSS Document */

body{
	text-align:center;
	margin:0;
	padding:0;
	font-size:12px;
	background:#EFE4B8; 
	font-family: Arial, Tahoma, helvetica, sans-serif;
	margin: 15px;
}
/*ul, ol, dl { position: relative;  }*/
#body a{
	text-decoration:none;
}
#body li.last{
	margin:0;
	padding:0;
	border:none;
}
#body a:hover{
	text-decoration:underline;
}

/* Header */

#header{
	width:861px;
	height:176px;
	padding:0;
	margin:0px auto;	
	position:relative;
	text-align:left;
	background:url(../images/template/header_bg.gif) no-repeat left top;
}
#header h1{
	width:420px;
	margin:0;
	padding:0;
	height:90px;
	position:absolute;
	text-align:left;
	top:38px;
	left:14px;
	font-size:1em;
	text-indent:-9999px;
	
}

#header h1 a{

	display:block;
	width:100%;
	height:100%;
	/*background:url(../images/template/header_bg.gif) no-repeat left top;*/
	text-align:left;
}
#header h1 a#homepage_title{
	text-indent:0;
	display:block;
	width:384px;
	height:56px;
	font-size:2.2em;
	background:transparent;
	margin-top:1em;
	margin-left:1em;
	text-align:left;
}

/* Header navigation view cart  - home - my account - help */

#header h3{
	width:79px;
	margin:0;
	padding:0;
	height:21px;
	position:absolute;
	font-family:Arial, Helvetica, sans-serif;
	bottom:41px;
	font-size:13px;
	text-transform:lowercase;
	font-weight:normal;
	text-align:center;
	left: 687px;
	top:116px;
}

#header h3#home{
left:680px;
width:90px;
}

#header h3#view_cart{
	left:464px;
	width:104px;
}
#header h3#my_account{
	left:576px;
	width:100px;
}

#header h3#help{
	left:771px;
	width:72px;
}


#header h3 a{
	color:#FFFFFF;
	display:block;
	font-family:arial;
	font-size:14px;
	font-weight:bold;
	height:100%;
	letter-spacing:-1px;
	text-transform:uppercase;
	width:100%;
}


/* Horizontal Dynamic Navigation */

#horz_nav{
	left:19px;
	margin:0px;
	padding:0px;
	position:absolute;
	text-align:center;
	top:148px;
	width:800px;
}

#horz_nav ul{
	
	list-style:none;
	margin:0;
	padding:0;
	text-align:left;
	padding-top:6px;
	margin-right:.5em;
}

#horz_nav ul li{
	text-align:left;
	font-size:1.1em;
	font-weight:normal;
	margin-right:.5em;
	padding-right:.5em;
	display:inline;
	border-right:1px solid #C0C0C0;
	
	
}
#horz_nav ul li a{
	color:#717171;
	font-weight: normal;
	font-family:Tahoma, Arial, Sans Serif;
	font-size:9px;
	text-transform:uppercase;
    padding-left:1em;
}


/* Top Navigation  (view cart, my account)*/

#top_nav {
	position:absolute;
	top:50px;
	left:348px;
	width:491px;
	text-align:left;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
}
#top_nav ul{
	list-style:none;
	margin:0;
	padding:0;
}
#top_nav ul li{
	display:inline;
	margin-right:.25em;
	padding-right:.5em;
	border-right:1px solid #003399;
}
#top_nav ul li a{ 
	color:#003399;
	font-weight:bold;
}


/* Search Section CSS begins */

div#search_box{
	padding:0px;
	margin:0px;
	text-align:left;
	width:215px;
	height:75px;
	position:relative;
	background:url(../images/Template/search_section_bg.gif) no-repeat left top;
	
}

#display_search_box{
	padding:0px;
	margin:0;
	position:absolute;
	top:46px;
	left: 22px;
}
#display_search_box form{
	padding:0;
	margin:0;
}
#display_search_box table td{
	vertical-align:top;
}
#display_search_box input{
	margin:0;
	vertical-align:top;
	width:151px;
	font-size:10px;

}

#display_search_box img{
	margin:0;
	padding:0;
	
}

/*-- dropdown menu shop by brand */

#DropDown_SHOPBY_MANUFACTURER {
	padding-left:22px;
	margin-bottom:.5em;
	}
	

#DropDown_SHOPBY_MANUFACTURER select{
	width:145px;
	margin:0;
	padding:0;
	}
	


#content{
	padding:0;
	margin:0;
	text-align:left;
	width:861px;
	margin:0px auto;
	background:#FFFFFF url(../images/template/content_bg_top.gif) repeat-y scroll right top;
	
}

#content > *{
	text-align:left;
}



/* Left navigation  */


#left_nav{
	margin:0px;
	
	/* turn the following attribute on if you need to position absolutely inside of the left_nav.  Beware: this will screw up the rollover_color_popouts menu in IE7
	
	/*position:relative;*/
	height:100%;
	width:215px;
	background:url(../images/template/left_nav_tile.gif) repeat-y left top;
	padding-top:0px;
}



#left_nav h2{
	background:transparent url(../images/Template/left_nav_title_background.gif) no-repeat scroll left top;
	color:#474253;
	font-family:Arial,Verdana,Sans serif;
	font-size:15px;
	height:39px;
	margin:0pt;
	padding:10pt 0em 0pt 22pt;
	text-align:left;
	width:172px;
}



#left_nav ul{
	list-style:none;
	margin:0px;
	padding:0px;
	text-indent:.5em;
}



#display_menu_1{
	margin-left:1em;
}

#display_menu_2{
	margin-left:1em;
}

#left_nav ul li{
	margin:0;
	padding-bottom:.4em;
	margin-bottom:.5em;
	padding-left:1em;
	margin-left:1em;
	background:url(../images/template/left_nav_bullet.gif) no-repeat 0 4px;
	font-family: Tahoma, Arial, Sans Serif;
	font-weight:normal;		
}

#left_nav ul li a{
	padding-bottom:.1em;
	color:#36D6D6D;
}
#left_nav ul li.nav a{
	padding-bottom:.1em;
	color:#6D6D6D;
	font-weight:normal;
}

#left_nav div.nav_section{	
	width:204px;
	padding:0;
	margin:0;
	margin-bottom:1em;
}



#display_promotions_999{
	margin-top:2em;
	padding:1px 2em;
	text-align:center;
	width:155px;
}


#mailing_list{
	padding:0px;
	margin:0px;
	width:204px;
	height:75px;
	background:url(../images/Template/mailing_list_bg.gif) no-repeat center top;
	text-align:center;
	padding-top:30px;
}


span.ir{
	display:none;
}
#content #content_area{
	margin:0;
	padding-right:1em;
	text-align:left;
	display:block;
	width:610px;
	position:relative;
}

#content #content_area table{
	text-align:left;
}
#footer{
	margin:0;
	padding:0;
	text-align:center;
	width:861px;
	height:103px;
	position:relative;
	margin:0px auto;
	font-size:.8em;
	color:#000;
	margin-bottom:.2em;
	font-family:Arial, Helvetica, sans-serif;
	background:url(../images/template/footer_background.gif) no-repeat left top;
}
* html #footer{
	margin-top:0;

}

#footer_top{
	width:861px;
	color:#A29F9F;
	text-align:center;
	background:none;
	font-size:10px;
	font-weight:normal;
	padding-bottom:.1em;
	padding-top:1em;
	position:relative;
	
}
#footer_top ul{
	
	list-style:none;
	margin:0;
	padding:0;
	text-align:center;
	padding-top:6px;
	margin-right:1em;
}

#footer_top ul li{
	text-align:left;
	font-size:1.1em;
	font-weight: bold;
	margin-right:.5em;
	padding-right:1em;
	display:inline;
	border-right:1px solid #787878;
	
	
}
#footer_top ul li a{
	color:#787878;
	font-weight: bold;
	font-family:Tahoma, Arial, Sans Serif;
	font-size:9px;
	text-transform:uppercase;
    padding-left:1em;
}

#footer_top p{
	margin:0;
	padding:0;
	margin-top:8px;
	font-weight:normal;
	text-align:right;
	font-size:10px;
	margin-right:1em;
}
#footer_bottom{
	
	width:812px;
	color:#A29F9F;
	text-align:right;
	background:none;
	font-size:10px;
	font-weight:normal;
	padding-bottom:1em;
	padding-top:3em;
}

#footer #footer_bottom a{
	color:#818181
}
#footer a{
	color:#A29F9F;
	font-weight:normal;
}

#home_page_splash{
	padding:0;
	margin:0 auto;
	width:635px;
	text-align:left;
	font-size:11px;
	line-height:12px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	margin-top:1em;
	
}
#home_page_splash #home_page_top{
	width:635px;
	height:258px;
	position:relative;
	background:url(../images/template/home_page_splash.jpg) no-repeat left top;
	margin:0;
	padding:0;
	margin-bottom:1em;
}

.rowcontainer{
	
	float:left;
	width:635px;
}

.home_page_section{
	width:279px;
	height:100px;
	float:left;
	
	
}
#section1{
	background:url(../images/template/ph-01.jpg) top left no-repeat;
}
#section2{
	background:url(../images/template/ph-02.jpg) top left no-repeat;
}


.home_page_section_featured{
	margin-top:1em;
	width:635px;
	height:33px;
	clear:both;
	background:url(../images/template/featured.gif) top left no-repeat;
	
}

.home_page_section p{
	margin-left:9.5em;
}
.home_page_section p a{
	color:#F7941D;
	font-weight:bold;
}

.dropdown_select{
	margin-bottom:1em;
}
.dropdown_select select{
	width:145px;
	margin:0;
	padding:0;
	margin-left:10px;
	font-size:9px;
	border:1px solid #ccc;
	}

/* Fixes position of Rollover Popout Menus */

.mmenucontainer{
  margin-left:1em;
}