</td>
		</tr>
	</table>

</div>

<script language="JavaScript1.2">
<!--
var bookmarkurl="http://store.birds.cornell.edu/"
var bookmarktitle="The Cornell Lab Online Store"
var bookmarktext="Bookmark Us"

if (navigator.appName == "Opera") {
	bookmarktext="Bookmark Us (CTRL+T)";
}
if (navigator.appName == "Netscape") {
	bookmarktext="Bookmark Us (CTRL+D)";
}


function addbookmark()
{
	if (document.all) {
	window.external.AddFavorite(bookmarkurl,bookmarktitle);
	}
}
//-->
</script>

<div id="footer">
	<div id="footer_top">
		<ul>
			<li><a href="http://store.birds.cornell.edu//aboutus.asp"  > Company Info</a></li>
			<li><a href="/terms_privacy.asp"  >Privacy Policy</a></li>
			<li><a href="http://store.birds.cornell.edu//pindex.asp"  > Product Index</a></li>
			<li><a href="http://store.birds.cornell.edu//cindex.asp"  > Category Index</a></li>
			<li><a href="http://store.birds.cornell.edu//help.asp"  > Help</a></li>
			<li class="last"><a href="http://store.birds.cornell.edu//terms.asp"  > Terms of Use</a></li>
		</ul>
		
	</div>
	<div id="footer_bottom">
		<p><a href="http://store.birds.cornell.edu//terms.asp"  >Copyright &copy; <script type="text/javascript">document.write((new Date()).getFullYear());</script> Cornell Lab of Ornithology. All Rights Reserved.</a><br />
	
				
				
				
				
				
	
<!--				
	===========================================================================================
		VOLUSION LINK - BEGIN
	===========================================================================================
		Customer has agreed per Volusion&#63;s Terms of Service (http://www.volusion.com/agreement_monthtomonth.asp)
		to maintain a text hyperlink to "http://www.volusion.com" in the footer of the website. The link must be standard html, contain no javascript, and be approved by Volusion. Removing this link breaches the Volusion agreement.
	-->
		Shopping Cart Powered by <a href="http://www.volusion.com" title="Shopping Cart Software"   target="_blank">Volusion</a>.</p>

	<!--
	===========================================================================================
		VOLUSION LINK - END
	===========================================================================================
	-->
				
	</div>	    
                
</div>




<script type="text/javascript">function store_init(event){} AttachEvent(window, 'load', store_init);</script>

</body>
</html>